<div class="row content">
  <div class="small-8 small-centered columns">
    <br>
      <%= render "shared/flasher" %>
    <br>
  </div>
</div>

<div class="row content">
  <div class="small-8 small-centered large-3 large-centered columns ">
    <%= render "shared/right_navigation" %>
    <div class="panel radius">
    <h3 class="subheader"><%= t(:registration) %></h3>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.input :email, :required => true, :autofocus => true %>

      <% if f.object.password_required? %>

        <%= f.input :password, :required => true, label: t(:password) %>
        <%= f.input :password_confirmation, :required => true, label: t(:password_confirmation) %>
      <% end %>

      <br>

      <%= f.button :submit, t(:sign_up), class: 'small success button left radius' %>
      <br>
      <p class="small right"><%= link_to t(:login) + " ?", new_session_path(resource_name) %></p>
    <% end %>
    <br>
    </div>
  </div>
</div>