<%= simple_form_for @interval, html: { class: 'custom' } do |f| %>
    <% field_set_tag "Interval" do %>

      <div class="row">
        <div class="large-6 columns">
            <%= f.input :interval_name_ru, label: "Russian interval" %>
        </div>

        <div class="large-6 columns">
            <%= f.input :interval_name_lv, label: "Latvian interval" %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
            <%= f.input :interval_slug, label: "Slug" %>
        </div>
      </div>
    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end  %>
