<div class="row">
  <div class="small-8 small-centered columns">
                <h1>Listing intervals</h1>

                <table>
                    <thead>

                  <tr>
                    <th>Id</th>
                    <th>Name lv</th>
                    <th>Name ru</th>
                    <th>Slug</th>
                    <th>#</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>

                <% @intervals.each do |interval| %>

                <tbody>
                  <tr>
                    <td><%= interval.id %></td>
                    <td><%= interval.interval_name_lv %></td>
                    <td><%= interval.interval_name_ru %></td>
                    <td><%= interval.interval_slug %></td>
                    <td>
                          <% count = 0 %>
                          <% interval.places.each do |place| %>
                            <% count += 1 %>
                          <% end %>

                          <%= count %>

                    </td>
                    <td><%= link_to 'Edit', edit_interval_path(interval) %></td>
                    <td><%= link_to 'Destroy', interval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  </tbody>
                <% end %>
                </table>
        <%= link_to 'New interval', new_category_path, class: "small button" %>
    </div>
</div>

