<p id="notice"><%= notice %></p>

<p>
  <b>Interval name:</b>
  <%= @interval.interval_name %>
</p>

<p>
  <b>Interval slug:</b>
  <%= @interval.interval_slug %>
</p>


<%= link_to 'Edit', edit_interval_path(@interval) %> |
<%= link_to 'Back', intervals_path %>
