<%= simple_form_for @type do |f| %>

      <div class="row">
        <div class="large-6 columns">
            <%= f.input :type_name_ru, label: "Russian title"%>
        </div>

        <div class="large-6 columns">
            <%= f.input :type_name_lv, label: "Latvian title" %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
            <%= f.input :type_slug, label: "Slug" %>
        </div>
        <div class="large-6 columns">
          <%= f.association :category, collection: Category.find(:all), label: t(:category), 
          label_method: :category_name, include_blank: true  %>
        </div>
      </div>
    <%= f.button :submit, class: 'tiny success button'  %>

<% end  %>