<%= simple_form_for @type, html: { class: 'custom' } do |f| %>
    <% field_set_tag "Add new type" do %>

      <div class="row">
        <div class="large-6 columns">
          <%= f.globalize_fields_for(:ru) do |g| %>
            <%= g.input :title, label: "Russian title"%>
          <% end %>
        </div>

        <div class="large-6 columns">
          <%= f.globalize_fields_for(:lv) do |g| %>
            <%= g.input :title, label: "Latvian title" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <%= f.globalize_fields_for(:category) do |g| %>
            <%= g.input :category, label: "Russian category"%>
          <% end %>
        </div>

        <div class="large-6 columns">
          <%= f.globalize_fields_for(:category) do |g| %>
            <%= g.input :category, label: "Latvian category" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
            <%= f.input :slug, label: "Slug" %>
        </div>
      </div>
    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end  %>