<%= simple_form_for @type, html: { class: 'custom' } do |f| %>
    <% field_set_tag "Add new type" do %>

      <div class="row">
        <div class="large-6 columns">
            <%= f.input :type_name_ru, label: "Russian title"%>
        </div>

        <div class="large-6 columns">
            <%= f.input :type_name_lv, label: "Latvian title" %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
            <%= f.input :type_slug, label: "Slug" %>
        </div>
      </div>
    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end  %>