<div class="panel radius">
	<% @byways.each do |byway| %>
      <%= byway.street + ", " + byway.city.city_name_lv %> <%= link_to "", byway, method: :delete, data: { confirm: t(:sure_question) }, class: "general foundicon-remove"  %> || 
    <% end  %>
</div>

<div class="panel radius">


	<div class="row">

		<%= simple_form_for @byway do |f| %>

			<%= f.hidden_field :place_id, :value => @place.id %>

			<div class="large-4 columns">
			  <%= f.input :street, label: t(:address) %>
			</div>
			<div class="large-3 columns">
			  <%= f.association :country, collection: @countries, label: t(:country), 
			            label_method: :country_name, value_method: :id %>
			</div>
			<div class="large-3 columns">
			  <%= f.association :city, collection: @cities, label: t(:city),
			          :label_method => :city_name, value_method: :id %>
			</div>
			<div class="large-2 columns">
				<label>&nbsp;</label>
			  <%= f.button :submit, t(:add) , class: "tiny button radius success" %>
			</div>
  
		<% end %>
		
	</div>
</div>