<div class="row content">
  <div class="small-8 small-centered columns">
    <%= render 'shared/flasher' %>
    <%= render 'shared/admin/admin_panel' %>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Role</th>
          <th>Count</th>
          <th>Created</th>
          <th>Places</th>
          <th>Sponsor</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.role == 1 ? "admin" : "user" %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.created_at.strftime("%d.%m.%Y  %H:%M") %></td>
          <td><%= user.places.size %></td>
          <td><%= user.sponsor.to_i == 1 ? "yes" : "no" %></td>
          <td><%= link_to 'Edit', edit_user_path(user) if user.role == 2 %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if user.role == 2 %></td>
        </tr>
      <% end %>
    </table>
    </div>
</div>