<div class="row">
  <div class="small-8 small-centered columns">
                <h1>Listing users</h1>

                <table>
                    <thead>

                  <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Count</th>
                    <th>created_at</th>
                    <th>#</th>
                    <th>Sponsor?</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>

                <% @users.each do |user| %>

                <tbody>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role == 1 ? "admin" : "user" %></td>
                    <td><%= user.sign_in_count %></td>
                    <td><%= user.created_at.strftime("%d %b. %Y") %></td>
                    <td>
                          <% count = 0 %>
                          <% user.places.each do |place| %>
                            <% count += 1 %>
                          <% end %>

                          <%= count %>

                    </td>
                    <td><%= user.sponsor.to_i == 1 ? "yes" : "no" %></td>
                    <td><%= link_to 'Edit', edit_user_path(user) %></td>
                    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  </tbody>
                <% end %>
                </table>
        <%= link_to 'New user', new_user_registration_path, class: "small button" %>
    </div>
</div>