


    <div class="row content">
    	<%= render 'shared/flasher' %>
    	<div class="large-3 small-6 columns">
    		<div class="panel radius">
			

			      <% if @user.avatar.blank? %>
			        <%= image_tag "blank.png", height: '139', width: '230'  %>
			      <% else  %>
			        <%= image_tag @user.avatar.url, height: '139', width: '230' %>
			      <% end  %>

			      <br><br>
			    <h5 style="text-align: center"><%=  @user.name unless @user.name.blank? %></h5>
			    <p><%= simple_format(@user.about) unless @user.about.blank? %></p><hr>

			    <p class="contact_info">

			    <%= mail_to @user.email, nil, :replace_at => "(at)", encode: "hex", class: "no_border" %><br>
			      <% unless @user.web_site.blank?  %>
			        <%= link_to @user.web_site, url_with_protocol(@user.web_site), class: "no_border", target: "_blank", rel: 'nofollow' %><br>
			      <% end %>

			    <% unless @user.phone.blank?  %>
			      <%= "(+371) - #{@user.phone}" %><br>
			    <% end %>
			  
				</p>



			</div>
		<%= render 'subscribers/form'%>
    	</div>


    	<div class="large-3 small-6 columns">
			<% if @user.places.blank?  or @user.role == 1 %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :place_list  %></h5></li>
				    <li><%= t :no_posts  %></li>
				 	</ul>
				</div>
			<% else  %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :place_list   %></h5></li>
				    <% @user.places.each do |place| %>
				      <li class="feed">
				      <%= link_to place.name, place %>
			            &nbsp&raquo;&nbsp <%= link_to place.type.type_name,controller: :places, action: :index, type: place.type.type_slug %>
				      </li>
				    <% end %>
				    <br>
				   </ul>
				</div>
			<% end %>

			<% if @user.feeds.blank? %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :feed_list  %></h5></li>
				    <li><%= t :no_feeds  %></li>
				 	</ul>
				</div>
			<% else  %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :feed_list   %></h5></li>
				    </ul>
				    <div class="feeds">
					    <% @user.feeds.each do |feed| %>
					      <i><%= feed.created_at.strftime("%d.%m.%Y  %H:%M") %></i>
					      <div class="feed"><%= simple_format(feed.message) %></div>
					    <% end %>
					</div>
				    <br>
				   
				</div>
			<% end %>

    	</div>
    	<div class="large-3 small-6 columns">
    		<% if @user.posts.blank? %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :post_list  %></h5></li>
				    <li><%= t :no_posts  %></li>
				 	</ul>
				</div>
			<% else  %>
				<div class="panel radius right_panel">

					<ul class="recent">
						<li class="first">
							<h5><span class="general foundicon-page"> </span> <%= link_to t(:post_list) %></h5>
						</li>
					</ul>
					  <% @user.posts.each do |post| %>
					    <%= link_to post, class: "blog_post_title" do %>
						    <i><%= post.created_at.strftime("%d.%m.%Y  %H:%M") %></i> </br>
						    <p><%= post.title %></p>
					    <% end %>
					  <% end %>


				</div>
			<% end %>

    	</div>

    	<div class="large-3 small-6 columns">
    		<%= render 'shared/right_navigation' %>

              <%= render 'shared/admin/admin_panel' %>
              <%= render 'shared/navigation_panel'%>
              <%= render 'shared/login' %>
    	</div>

    </div>

