<div class="row">
  <div class="small-12 large-12 small-centered columns">

  	<div class="row">
      <div class="small-3 small-centered columns hide-for-small ">
        <div id="featured">
          <%= image_tag("logo.png", width: '250px', height: '250px') %>
        </div>
      </div>
    </div>

    <div class="row content">

    	<div class="large-3  columns">
    		<div class="panel without_border">
			<ul class="small-block-grid-1 ">
			    <li>
			      <% if @user.avatar.blank? %>
			        <%= image_tag "blank.png", height: '154', width: '254', class: "th radius"  %>
			      <% else  %>
			        <%= image_tag @user.avatar.url, height: '154', width: '254', 
			        	class: "radius th"  %>
			      <% end  %>
			    </li>

			    <li><h4 style="text-align: center"><%=  @user.name unless @user.name.blank? %></h4></li>
			    <li class="about_block"><p><%= simple_format(@user.about) unless @user.about.blank? %></p><hr></li>

			    <li><p class="contact_info">

			    <% unless @user.email.blank?  %>
			      <%= @user.email %><br>
			    <% end %>

			    <% unless @user.web_site.blank?  %>
			      <%= @user.web_site  %> <br>
			    <% end %>

			    <% unless @user.phone.blank?  %>
			      <%= "(+371) - #{@user.phone}" %><br>
			    <% end %>
			  
				</p></li>

			</ul>
			</div>
    	</div>

    	<div class="large-3 columns">
			<% if @user.places.blank? %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :place_list  %></h5></li>
				    <li><%= t :no_posts  %></li>
				 	</ul>
				</div>
			<% else  %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :place_list   %></h5></li>
				    <% @user.places.each do |place| %>
				      <li class="feed"><i><%= place.created_at.strftime("%d.%m.%Y  %H:%M") %></i> </br>
				      <%= link_to place.name, place %>
			            &nbsp&raquo;&nbsp <%= link_to place.type.type_name,controller: :places, action: :index, type: place.type.type_slug %>
				      </li>
				    <% end %>
				    <br>
				   </ul>
				</div>
			<% end %>
    	</div>
    	<div class="large-3 columns">
    		<% if @user.posts.blank? %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :post_list  %></h5></li>
				    <li><%= t :no_posts  %></li>
				 	</ul>
				</div>
			<% else  %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :post_list   %></h5></li>
				    <% @user.posts.each do |post| %>
				      <li class="post"><i><%= post.created_at.strftime("%d.%m.%Y  %H:%M") %></i> </br>
				      <%= link_to post.title, post %>
				      </li>
				    <% end %>
				    <br>
				   </ul>
				</div>
			<% end %>

    	</div>

    	<div class="large-3 columns">
    		<%= render 'shared/right_navigation' %>
    		<% if @user.feeds.blank? %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :feed_list  %></h5></li>
				    <li><%= t :no_feeds  %></li>
				 	</ul>
				</div>
			<% else  %>
				<div class="panel radius right_panel">
				    <ul class="recent">
				    <li class="first"><h5><%= t :feed_list   %></h5></li>
				    <% @user.feeds.each do |feed| %>
				      <li class="feed"><i><%= feed.created_at.strftime("%d.%m.%Y  %H:%M") %></i> </br>
				      <%= simple_format(feed.message) %>
				      </li>
				    <% end %>
				    <br>
				   </ul>
				</div>
			<% end %>
    	</div>

    </div>



  </div>
</div>