<div class="row collapse stick_to_map">

      <%= form_tag(root_path, :method => 'get', class: 'chzn-select') do %>

        <div class="large-2 small-3 columns large-offset-4">

          <%= select_tag :city, 
            options_from_collection_for_select( @cities, 'city_slug', 'display_name' ),
            :include_blank => true, :prompt => t(:city) %>
        </div>


        <div class="large-2 small-3 columns">
          <%= select_tag :category,
             options_from_collection_for_select( @categories, 'category_slug', 'display_name'), label_method: :category_name,
             :include_blank => true, :prompt => t(:category) %>
        </div>

        <div class="large-2 small-3 columns">
          <%= grouped_collection_select(:f, :type,  @categories,
                :types, :display_name, :type_slug, :display_name, include_blank: true, :prompt => t(:type)) %>
        </div>

        <div class="large-1 small-2 columns">
          <%= text_field_tag :age, nil, :placeholder => t(:interval), :maxlength => 3 %>
        </div>



        <div class="large-1 small-1 columns">
          <div class="large-12 columns search">
            <%= image_submit_tag("search.png") %>
          </div>
        </div>
    <% end %>
</div>
