<div class="row collapse stick_to_map">

      <%= form_tag(places_path, :method => 'get', class: 'chzn-select') do %>

        <div class="large-2 small-2 columns large-offset-3">

          <%= select_tag :city, 
            options_from_collection_for_select( City.cities_all, 'city_slug', 'city_name'),
            :include_blank => true, :prompt => "City ..." %>
        </div>


        <div class="large-2 small-3 columns">
          <%= select_tag :category,
             options_from_collection_for_select( Category.find(:all), 'category_slug', 'category_name'),
             :include_blank => true, :prompt => "Category ..." %>
        </div>

        <div class="large-2 small-3 columns">
          <%= grouped_collection_select(:type, :name,  Category.find(:all),
                :types, :category_name, :type_slug, :type_name, :prompt => "Type ...") %>
        </div>

        <div class="large-2 small-3 columns">
          <%= select_tag :interval, 
            options_from_collection_for_select( Interval.all_intervals, 'interval_slug', 'interval_name'),
             :include_blank => true, :prompt => "Interval ..." %>
        </div>

        <div class="large-1 small-1 columns">
          <div class="large-12 columns search">
            <%= image_submit_tag("search.png") %>
          </div>
        </div>
    <% end %>
</div>
