<div class="row collapse stick_to_map">

      <%= form_tag(places_path, :method => 'get', class: 'chzn-select') do %>

        <div class="large-2 small-2 columns large-offset-3">

          <%= select_tag :city, 
            options_from_collection_for_select( City.find(:all).uniq, 'city_slug', 'city_name'),
            :include_blank => true, :prompt => t(:city) %>
        </div>


        <div class="large-2 small-3 columns">
          <%= select_tag :category,
             options_from_collection_for_select( Category.find(:all).uniq, 'category_slug', 'category_name'),
             :include_blank => true, :prompt => t(:category) %>
        </div>

        <div class="large-2 small-3 columns">
          <%= grouped_collection_select(:f, :type,  Category.find(:all).uniq,
                :types, :category_name, :type_slug, :type_name, :prompt => t(:type)) %>
        </div>

        <div class="large-2 small-3 columns">
          <%= select_tag :interval, 
            options_from_collection_for_select( Interval.find(:all).uniq, 'interval_slug', 'interval_name'),
             :include_blank => true, :prompt => t(:interval) %>
        </div>

        <div class="large-1 small-1 columns">
          <div class="large-12 columns search">
            <%= image_submit_tag("search.png") %>
          </div>
        </div>
    <% end %>
</div>
