
      <%= gmaps("markers" => {"data" => @json}) %> 


      <div class="map-nav stick_to_map">
        <div class="row collapse">
          <%= search_form_for @search, html: { class: 'custom'} do |f| %>
            <div class="large-2 large-offset-3 columns">
              <%= f.text_field :translations_message_cont, :placeholder => "Message contains" %>
            </div>

            <div class="large-2 columns">
              <%= f.select :types_translations_title_eq, 
                Type.all.collect {|x| [x.title, x.title]}, {:include_blank => 'Select Type'}
                 %>
            </div>

            <div class="large-2 columns">
              <%= f.select :city_eq,
                 options_from_collection_for_select(@places, 'city', 'city') %>
            </div>

            <div class="large-2 columns">
              <%= f.select :country_eq, [ 'Latvia', 'Other' ], selected: 'Latvia'  %>
            </div>

            <div class="large-1 columns">
              <%= f.submit "Search", class: 'button postfix' %>
            </div>
          <% end %>
        </div>
      </div>


