<li class="has-dropdown">
  <a href="#">
  	<%= t('current_lang')%>
  	<% @current_language =  params[:locale] || I18n.default_locale %>
  	<%= image_tag("#{@current_language.to_s}.png", height: '11', width: '16') %>
  </a> 
  <ul class="dropdown">
    <li class=<%= "#{current_lang_or_not('lv') }" %> >
      <%= link_to "Latviešu", locale: "lv", change_locale: "yes" %></li>
    <li class=<%= "#{current_lang_or_not('ru')}" %> >
      <%= link_to "Русский", locale: "ru", change_locale: "yes" %></li>
  </ul>
</li>