<div class="row panel ">
	<div class="large-12 small-12 columns user_area">
		
			<% if user_signed_in?  %>
			  <dl class="sub-nav must_read">
		  		<dt> Logged as : <b><%= current_user.email %></b></dt>
			  		<dd class="active"><%= link_to raw(" Logout"), 
			  				destroy_user_session_path, method: :delete %></dd>
				</dl>
		  		

		  		
		  		<% unless @current_user_places.blank? %>
		  			<ul class="your_place_list">
				  		<% @current_user_places.each do |place| %>
						    <li><%= raw('<b id="approved" data-tooltip class="has-tip" title="Place have published!">A</b>') if place.approved == 1 %>
						    	<%= raw('<b id="waiting" data-tooltip class="has-tip" title="Place waiting for approve!">W</b>') if place.approved == 0 %>
						    	<%= raw('<b id="noapprove" data-tooltip class="has-tip" title="Place waiting for more information. We will email you!" >N</b>') if place.approved == 2 %>
						    	 <%= link_to place.name, place %>
						    &nbsp&raquo;&nbsp 
						    	<%= link_to "edit", edit_place_path(place) %></li>
						<% end %>
					</ul>
				<% end %>
				


		  	<% else %>
			  <dl class="sub-nav must_read">
				  <dd class="active">Do we know each other? Yes? <%= link_to "Then login !", new_user_session_path %></dd>
				  <dd class="active">No? Please <%= link_to "SignUp.", new_user_registration_path %></dd>
				  <dd data-reveal-id="for_what"><%= link_to "For what?", new_user_registration_path %></dd>
			  </dl>
		  <% end  %>
      </div>
</div>

<div id="for_what" class="reveal-modal">
  <h2>What you get?</h2>



	  <h6>Вы сможете принимать участие в рейтинге.</small></h6>
	  <h6>Добавлять или изменять информацию о своем месте.</h6>
	</br>
	  <p class="important_text">В переди у нас долгий путь и мы обязательно будем добалять новые функции для зарегистрированных пользователей.</p>

  <a class="close-reveal-modal">&#215;</a>
</div>