<% if user_signed_in?  %>
	<div class="panel radius login">
		<ul class="recent ">
		  	<li class="first">
				<h5> <span class="social foundicon-torso"> </span> 
				<%= link_to current_user.name.blank? ? current_user.email : current_user.name, current_user %> 
				<%= link_to destroy_user_session_path, method: :delete, class: "right label radius secondary" do %>
					<%= t(:logout) %>
					<b class="general foundicon-right-arrow"></b> 
				<% end %>
				</h5>
			</li>
			<%= link_to(current_user) do %>
				<li><b class="general foundicon-address-book"></b> <%= t(:user_status) %></li>
			<% end %>
			<%= link_to(new_post_path) do %>
				<li><b class="general foundicon-add-doc"></b> <%= t(:create_post) %></li>
			<% end %>
			<%= link_to(edit_user_path(current_user)) do %>
				<li><b class="general foundicon-settings"></b> <%= t(:profile) %></li>
			<% end %>
		</ul>
	</div>
<% end %>