<div class="panel radius navigator">
<ul class="recent  ">
  <li class="first"><h5><span class="general foundicon-website"> </span>  <%= t :yoda_navigator  %></h5></li>
    
  <% unless current_page?(root_path) %>
    <li><%= link_to_function raw("&nbsp&laquo;&nbsp") + t(:return_back), "history.go(-1)", class: "button secondary small radius expand" %></li>
  <% end %>
  <%= form_tag(root_path, :method => 'get', class: 'chzn-select') do %>

          <%= select_tag :category,
             options_from_collection_for_select( @categories, 'category_slug', 'display_name'),
              label_method: :category_name,
             :include_blank => true, :prompt => t(:category) %>

          <%= grouped_collection_select(:f, :type,  @categories,
                :types, :display_name, :type_slug, :display_name, include_blank: true, :prompt => t(:type)) %>

          <%= text_field_tag :age, nil, :placeholder => t(:interval), :maxlength => 3 %>

          <%= submit_tag "#{t(:watch_filter)}", class: 'button success tiny radius expand', data: { disable_with: "Please wait.." } %>
    <% end %>
</ul>
</div>