<nav class="top-bar" >
	<ul class="title-area">
	  <li class="name"><h1><%= link_to "Build Yourself", root_path %></h1></li>
	  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<li><%= link_to t(:home), root_path %></li>
			
			<li class="divider"></li>
			<li>
              <%= link_to "Add new place", :controller => :places, :action => :new %> 
            </li>
            
			<li class="divider"></li>
			<li>
              <%= link_to "Contact with us", :controller => :contacts, :action => :new %>
            </li>

			<li class="divider"></li>
			<%= render 'shared/language_selector'  %>
		</ul>
	</section>
	
</nav>
<div class="top-bar-border"></div>




