<nav class="top-bar" >
	<ul class="title-area">
	  <li class="name"><h1><a href="#">Build Yourself</a></h1></li>
	  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
	</ul>





	<section class="top-bar-section">

		<ul class="right">

			<% if user_signed_in?  %>
            	<li><a href="#"><%= current_user.email %></a></li>
            	<li class="divider"></li>
            	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else  %>
	            <li><%= link_to "Sign up", new_user_registration_path %></li>
	            <li class="divider"></li>
	            <li><%= link_to "Login", new_user_session_path %></li>
	        <% end  %>

	        <li class="divider"></li>
			
			<li><%= link_to "Home", root_path %></li>

			<li class="divider"></li>
			<li>
              <%= link_to "Add new place", :controller => :places, :action => :new %> 
            </li>
            
			<li class="divider"></li>
			<li>
              <%= link_to "Contact with us", :controller => :contacts, :action => :new %>
            </li>


            



			<li class="divider"></li>
			<%= render 'shared/language_selector'  %>
		</ul>
	</section>
</nav>




