<div class="panel radius">
  <% unless @place.user.avatar.blank? %>
    <%= image_tag @place.user.avatar.url, height: '139', width: '230' %><br><br>
  <% end  %>



      <h5 style="text-align: center"><%= link_to @place.user.name, @place.user unless @place.user.name.blank? %></h5>
      <p><%= simple_format(@place.user.about) unless @place.user.about.blank? %></p><hr>

      <p class="contact_info">

        <%= mail_to @place.user.email, nil, :replace_at => "(at)", encode: "hex", class: "no_border" %><br>
        <% unless @place.user.web_site.blank?  %>
          <%= link_to @place.user.web_site, url_with_protocol(@place.user.web_site), class: "no_border", target: "_blank", rel: 'nofollow' %><br>
        <% end %>

        <% unless @place.user.phone.blank?  %>
          <i class="general foundicon-phone"> </i><%= "(+371) - #{@place.user.phone}" %><br>
        <% end %>
      
  	</p>

 

</div>


<%= render 'blog_list' %>

<%= render 'subscribers/form'%>


<% if @place.user.comments == 1 %>
  <script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>

  <noscript><%= t(:enable_js) %></noscript>
<% end  %>


<% if I18n.locale == :ru %>

  <script type="text/javascript">
    window.onload = function() {

        $('#new_subscriber').validate({
          rules: {
            'subscriber[email]': {
              required : true,
              email: true },
          },

          messages: {
          "subscriber[email]": "Введен не корректно."
          },
        });
    };
  </script>

<% else %>

  <script type="text/javascript">
    window.onload = function() {

        $('#new_subscriber').validate({
          rules: {
            'subscriber[email]': {
              required : true,
              email: true },
          },

          messages: {
          "subscriber[email]": "Nekorekti ievadīts.",
          },
        });
    };
  </script>
<% end %>