
<ul class="small-block-grid-1 ">
    <li>
      <% if @place.user.avatar.blank? %>
        <%= image_tag "blank.png", height: '154', width: '254', class: "th radius"  %>
      <% else  %>
        <%= image_tag @place.user.avatar.url, height: '154', width: '254', 
        	class: "radius th"  %>
      <% end  %>
    </li>

    <li><h4 style="text-align: center"><%= link_to @place.user.name, @place.user unless @place.user.name.blank? %></h4></li>
    <li class="about_block"><p><%= simple_format(@place.user.about) unless @place.user.about.blank? %></p><hr></li>

    <li><p class="contact_info">

    <% unless @place.user.email.blank?  %>
      <%= @place.user.email %><br>
    <% end %>

    <% unless @place.user.web_site.blank?  %>
      <%= @place.user.web_site  %> <br>
    <% end %>

    <% unless @place.user.phone.blank?  %>
      <%= "(+371) - #{@place.user.phone}" %><br>
    <% end %>
    
	</p></li>

</ul>

<%= render 'blog_list' %>

<% places = Place.approved.where("id != ? AND user_id = ?", @place.id.to_i, @place.user_id )%>

<% if places.size >= 1 %>
  <div class="panel radius right_panel">
    <ul class="recent">
      <li class="first"><h5><%= t (:more_places_from_user)  %></h5></li>
      <% places.each do |place| %>
        <li class="li_second">
          <%= link_to place.name, place %> 
            &nbsp&raquo;&nbsp  
            <%= link_to place.type.type_name,controller: :places, action: :index, type: place.type.type_slug %> 
        </li>
      <% end %>
    </ul>
    </div>
<% end  %> 


<% if @place.user.comments == 1 %>
  <script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>

  <noscript><%= t(:enable_js) %></noscript>
<% end  %>