<%= simple_nested_form_for @request, html: { class: '', multipart: true  } do |f| %>
<div class="panel radius">
	<div class="row">
    	<div class="large-6 columns">
    		<%= f.input :email, label: t(:email) %>
    	</div>
        <div class="large-6 columns">
           <%= f.input :phone, as: :string, label: t(:phone_number), class: 'left radius'%>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <%= f.input :address, label: t(:street_address)  %>
        </div>
    </div>



    <div class="row">
        <div class="large-4 columns">
            <%= f.input :age_min, label: t(:min_age), as: :string %>
        </div>
        <div class="large-4 columns">
            <%= f.input :age_max, label: t(:max_age), as: :string %>
        </div>
        <div class="large-4 columns">
            <%= f.input :website, label: t(:website)  %>
        </div>
        <div class="large-12 columns ">
            <hr>
        <p><%= t(:do_you_want_panel) %> <%= link_to t(:find_out_more), about_path %> </p> 

            <%= f.collection_radio_buttons :simple_place, [[1, t(:yes_s)] ,[0, t(:no_s)]], :first, :last, :item_wrapper_class => 'radio_select' %>
            <hr>
        </div>
        

    </div>




    <%= f.input :message, label: t(:message)  %>
 
        <br>
      <h5><%= t :add_photos%> (.jpg, .jpeg, .png, .gif):</h5>
      <hr>
    
    <div class="row photos">
        <div class="large-6 columns add_photo">
            <%= f.file_field :source_1, class: "image_field" %>
            <%= f.file_field :source_2, class: "image_field" %>
            <%= f.file_field :source_3, class: "image_field" %>
            <%= f.file_field :source_4, class: "image_field" %>

        </div>
    </div>
    <br>
    <%= f.button :submit, t(:add_place), class: 'tiny success button radius', :disable_with => "Creating..."  %>
</div>
<% end  %>


<% if I18n.locale == :ru %>

  <script type="text/javascript">
    window.onload = function() {


        $('#new_request').validate({
          rules: {
            'request[address]': {required : true,
              minlength: 5, maxlength: 255 },
            'request[message]': {required : true,
              minlength: 5 },
            'request[phone]': {
              required : true,
              digits: true,
              minlength: 8, maxlength: 15,
               },
            'request[email]': {
              required : true,
              email: true },
            'request[age_min]': {
              required : true,
              min : 0, max : 200 },
            'request[age_max]': {
              required : true,
              min : 0, max : 200 },
            'request[simple_place]' : {
              required :true },
          },

          messages: {
          "request[address]": "Не может быть пустым. Мин.- 5, макс.- 255 символов.",
          "request[message]": "Не может быть пустым. Минимального описания будет достаточно.",
          "request[phone]": "Мин.- 8, макс.- 12. Только цифры.",
          "request[email]": "Введен не корректно.",
          "request[age_min]": "Введен не корректно.",
          "request[age_max]": "Введен не корректно.",
          "request[simple_place]": "Выберите что-то одно."
          },
        });
    };
  </script>

<% else %>

  <script type="text/javascript">
    window.onload = function() {



        $('#new_request').validate({
          rules: {
            'request[address]': {required : true,
              minlength: 5, maxlength: 255 },
            'request[message]': {required : true,
              minlength: 5 },
            'request[email]': {
              required : true,
              email: true },
            'request[age_min]': {
              required : true,
              min : 0, max : 200 },
            'request[age_max]': {
              required : true,
              min : 0, max : 200 },
            'request[phone]': {
              required : true,
              digits: true,
              minlength: 8, maxlength: 15,
               },
            'request[simple_place]' : {
              required :true },

          },

          messages: {
          "request[address]": "Nevar būt tukš. Min.- 5, Maks.- 255 Simboli.",
          "request[message]": "Nevar būt tukš. Ar īsu aprakstu pilnīgi pietiks.",
          "request[phone]": "Min.- 8, Maks.- 12. Tikai cipari.",
          "request[email]": "Nekorekti ievadīts.",
          "request[age_min]": "Nekorekti ievadīts.",
          "request[age_max]": "Nekorekti ievadīts.",
          "request[simple_place]": "Izvēlieties kaut ko vienu.",
          },
        });
    };
  </script>

<% end %>

