<%= simple_form_for @request, html: { class: 'panel radius right_panel' } do |f| %>
    <div class="row">
    	<div class="large-5 columns">
	    	<%= f.input :phone, as: :string, label: t(:phone_number), class: 'radius'%>
	    </div>
	    <div class="large-7 columns">
	    	<%= f.input :address, label: t(:street_address)  %>
	    </div>
    </div>
    <%= f.input :when, label: t(:when) %>

    <%= f.button :submit, t(:send), class: 'small button success radius'  %>
<% end  %>


