<%= simple_nested_form_for @request, html: { class: '', multipart: true  } do |f| %>
<% field_set_tag t(:check_in_your_place) do %>

	    <div class="row">
    	<div class="large-6 columns">
    		<%= f.input :email, label: t(:email) %>
    	</div>
    </div>
    <div class="row">
    	<div class="small-4 columns">
	       <%= f.input :phone, as: :string, label: t(:phone_number), class: 'left radius'%>
	    </div>

	    <div class="large-8 columns">
	    	<%= f.input :address, label: t(:street_address)  %>
	    </div>
    </div>

    <%= f.input :message, label: t(:message)  %>

    <div class="row photos">
        <div class="large-6 columns add_photo">
            <%= f.file_field :source_1, class: "image_field" %>
            <%= f.file_field :source_2, class: "image_field" %>
            <%= f.file_field :source_3, class: "image_field" %>
            <%= f.file_field :source_4, class: "image_field" %>

        </div>
        <div class="large-6 columns">
            <p class="important_text">
              <%= raw(t(:photo_how_to)) %> <%= link_to t(:contact_with_us), new_contact_path %>
            </p>

        </div>
    </div>

    <%= f.button :submit, t(:add_place), class: 'small success button radius right', :disable_with => "Creating..."  %>
    <% end %>
<% end  %>


