<% provide(:title, t(:add_place)) %>

<% meta :description => "#{ strip_tags(t(:how_to)) }" %>


<div class="row content">

      <div class="small-5 large-3 columns" >
        <%= render 'shared/navigation_panel'%>
        <%= render 'shared/login' %>
      </div>

      <div class="small-7 large-5 columns">
        <%= render 'shared/flasher' %>
        <%= render 'form'  %>
      </div>

      <div class="large-4 columns hide-for-small" >
        <div class="panel radius green"><%= raw t (:how_to) %></div>
        <%= render 'shared/admin/admin_panel' %>
      </div>

</div>






