<% provide(:title, t(:add_place)) %>

<% meta :description => "#{ strip_tags(t(:how_to)) }" %>

    <div class="row">
      <div class="small-3 small-centered columns">
        <div id="featured">
          <%= image_tag("logo.png", width: '250px', height: '250px') %>
        </div>
      </div>
    </div>

<div class="row">
  <div class="small-9 small-centered columns">

  <%= render 'shared/flasher' %>
  
    <div class="row">

      <div class="small-12 large-8 columns">
          <%= render 'form'  %>
      </div>


      <div class="large-4 columns" >
	      <%= raw t (:how_to) %>
        <%= render 'shared/login' %>
      </div>

    </div>
  </div>
</div>



<% if I18n.locale == :ru %>

  <script type="text/javascript">
    window.onload = function() {

        $('#new_request').validate({
          rules: {
            'request[address]': {required : true,
              minlength: 5, maxlength: 255 },
            'request[message]': {required : true,
              minlength: 5, maxlength: 255 },
            'request[email]': {
              required : true,
              email: true },
          },

          messages: {
          "request[address]": "Не может быть пустым. Мин.- 5, макс.- 255 символов.",
          "request[message]": "Не может быть пустым. Минимального описания будет достаточно.",
          "request[phone]": "Мин.- 8, макс.- 12. Только цифры.",
          "request[email]": "Введен не корректно.",
          },
        });
    };
  </script>

<% else %>

  <script type="text/javascript">
    window.onload = function() {

        $('#new_request').validate({
          rules: {
            'request[address]': {required : true,
              minlength: 5, maxlength: 255 },
            'request[message]': {required : true,
              minlength: 5, maxlength: 255 },
            'request[email]': {
              required : true,
              email: true },
          },

          messages: {
          "request[address]": "Не может быть пустым. Мин.- 5, макс.- 255 символов.",
          "request[message]": "Не может быть пустым. Минимального описания будет достаточно.",
          "request[phone]": "Мин.- 8, макс.- 12. Только цифры.",
          "request[email]": "Введен не корректно.",
          },
        });
    };
  </script>

<% end %>