<% provide(:title, t(:about_us)) %>
  
<div class="row content">
  <div class="small-12 columns">
      <%= render 'shared/flasher' %>
      <div class="row">

        <div class="large-3 small-5 columns">   
          
          <%= render 'shared/login' %>
          <%= render 'shared/navigation_panel'%>
          <%# render 'sponsor' %>
          <%= render 'shared/admin/admin_panel' %>
       </div>

        <div class="small-7 large-3 columns">
          <dl class="panel radius">
            <dt><%= t :about_us %></dt>
            <dd><%= raw(t :mission) %></dd>
          </dl>
        </div>

        <div class="small-7 large-3 columns">
          <dl class="panel radius">
            <dt><%= t :for_owners %></dt>
            <%= raw(t :owners_options) %>
            <dt><%= t :optional %></dt>
            <%= raw(t :owners_optional) %>
          </dl>
        </div>      

        <div class="small-7 large-3 columns">
          <dl class="panel radius">
            <dt><%= t :for_users %></dt>
            <%= raw(t :users_options) %>
          </dl>
        </div>
              
    </div>
  </div>
</div>
