<% provide(:title, 'Contact with us') %>
<div class="row" >
  <div class="large-12 columns">
 


    <div class="row">
      <div class="small-4 small-centered columns">
        <div id="featured">
          <%= image_tag("logo.png", width: '250px', height: '250px') %>
        </div>
      </div>
    </div>

  <%= render 'shared/flasher' %>
  
    <div class="row content">

          <div class="small-12 large-9 columns">
              <%= render 'contact_form'  %>
          </div>


          <div class="large-3 columns hide-for-small" >
    	      
            <h4><%= t (:comments_text) %></h4>
    				<hr>
            <%= render 'shared/login' %>
            <%= render 'shared/recent_added' %>
          </div>

    </div>
  </div>
</div>