<% provide(:title, t(:contact_with_us)) %>

<% meta :description => "#{ t(:comments_text) }" %>


<div class="row content" >

  <div class="small-5 large-3 columns" >
    <%= render 'shared/login' %>
    <%= render 'shared/navigation_panel'%>
   
  </div>

  <div class="small-7 large-5 columns">
      <%= render 'shared/flasher' %>
      <%= render 'contact_form'  %>
  </div>

  <div class="large-4 columns hide-for-small" >

    <div class="panel radius green">
      <h4><%= t (:comments_text) %></h4>
      <p class="important_text">
        <i class="general foundicon-mail"> </i> yodafromlv@gmail.com <br>
        <i class="general foundicon-phone"> </i> (+371) 296-23-611<br>
        <i class="social foundicon-skype"> </i> S.Gulidov<br>
      </p>
    </div>

    <%= render 'shared/admin/admin_panel' %>
  </div>

</div>


<% if I18n.locale == :ru %>

  <script type="text/javascript">
    window.onload = function() {

        $('#new_contact').validate({
          rules: {
            'contact[body]': {
              required : true,
              minlength: 5 },
            'contact[email]': {
              required : true,
              email: true },
          },

          messages: {
          "contact[body]": "Напишите хоть что-нибудь. Мин. 5 символов.",
          "contact[email]": "Введен не корректно.",
          },
        });


    };
  </script>

<% else %>

  <script type="text/javascript">
    window.onload = function() {

        $('#new_contact').validate({
          rules: {
            'contact[body]': {
              required : true,
              minlength: 5 },
            'contact[email]': {
              required : true,
              email: true },
          },

          messages: {
          "contact[body]": "Uzrakstiet vismaz kautko. Min. 5 Simboli.",
          "contact[email]": "Nekorekti ievadīts.",
          },
        });




    };
  </script>
<% end %>


