<% provide(:title, t(:contact_with_us)) %>

<% meta :description => "#{ t(:comments_text) }" %>

<div class="row" >
  <div class="large-12 columns">
 


    <div class="row">
      <div class="small-4 small-centered columns">
        <div id="featured">
          <%= image_tag("logo.png", width: '250px', height: '250px') %>
        </div>
      </div>
    </div>

  <%= render 'shared/flasher' %>
  
  <div class="row">

      <div class="large-2 columns hide-for-small">
      &nbsp;
          </div>
          <div class="small-12 large-5 columns">
              <%= render 'contact_form'  %>
          </div>


          <div class="small-12 large-3 columns" >
            <h4><%= t (:comments_text) %></h4>
            <p class="important_text">
              Email: yodafromlv@gmail.com <br>
              <%= t (:phone_number) %>: +371 29623611<br>
              Skype: S.Gulidov<br>
            </p>
          </div>
          <div class="large-2 columns" >
            &nbsp;
          </div>
    </div>
  </div>
</div>