<div class="row">
  <div class="small-12 small-centered columns"></br>
  	<%= render "shared/flasher" %>
  </div>
</div>

<div class="row">
  <div class="small-4 small-centered columns">

  

<h2 class="subheader">Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'custom') do |f| %>

    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>


  <div class="form-actions">
    <%= f.button :submit, "Sign in", class: 'small button' %>
  </div>
<% end %>

<%= 

# render "devise/shared/links" 

%>

</div>
</div>