<div class="row content">
  <div class="small-8 small-centered columns">
  	<br>
      <%= render "shared/flasher" %>
    <br>
  </div>
</div>

<div class="row content">
  <div class="small-8 small-centered large-3 large-centered columns panel">

    <h3 class="subheader"><%= t(:login) %></h3>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false, label: t(:password) %>
        <%= f.input :remember_me, label: t(:remember_me), :as => :boolean if devise_mapping.rememberable? %>
        <br>
        <%= f.button :submit, t(:login), class: 'small button left success radius' %>
        <br>
        <p class="small right"><%= link_to t(:sign_up) + " ?", new_registration_path(resource_name) %></p>

        </li>
    <% end %>
    <br>

  </div>
</div>