<div class="row">
  <div class="small-8 small-centered columns">
      <h1>Listing countries</h1>

      <table>
          <thead>

        <tr>
          <th>Id</th>
          <th>Name lv</th>
          <th>Name ru</th>
          <th>Slug</th>
          <th>#</th>
          <th></th>
          <th></th>
        </tr>
        </thead>

      <% @countries.each do |country| %>

      <tbody>
        <tr>
          <td><%= country.id %></td>
          <td><%= country.country_name_lv %></td>
          <td><%= country.country_name_ru %></td>
          <td><%= country.country_slug %></td>
          <td>
                
                <% places = Place.where(country_id = country.id) %>
                <% count = 0 %>
                <% unless places.blank? %>
                  <% places.each do |place| %>
                    <% count += 1 %>
                  <% end %>
                <% end %>
                <%= count %>

          </td>
          <td><%= link_to 'Edit', edit_country_path(country) %></td>
          <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        </tbody>
      <% end %>
      </table>
    <%= link_to 'New country', new_country_path, class: "small button" %>
  </div>
</div>

