<div class="panel radius item post">
    <ul class="recent">
        <li id="post_title" class="first"><h3><%= link_to post.title, post%></h3> 
        </li>
    </ul>

    <% unless post.image.blank? %>


            <%= image_tag post.image.url(:thumb), height: 150, weight: 320, class: "th radius" %>

    <% end %>

    <p><%= simple_format(truncate( post.message, :length => 300, :separator => '. ', :omission => '.') )%></p>
    <h5 class="text_right"><small><%= link_to t(:read_more), post %></small></h5>    


        <div class="crumbs_block">
            <i class="social foundicon-torso"></i><%= link_to post.user.name, post.user %>
            <i class="right"><span class="general foundicon-clock"> </span><%= post.created_at.strftime(" %d.%m.%Y  %H:%M") %></i>
        </div>

</div>



