<% provide(:title, t(:blog)) %>
<%= metamagic :description => "#{t(:meta_default_description)}", :keywords => "#{t(:meta_default_keywords)}" %>



<div class="row">
  <div class="large-12 small-12 columns">
    <%= render 'shared/flasher' %>
  </div>
</div> 

<div class="content">
      <div class="blog_navigation_block">
          <%= render 'shared/login' %>
          <%= render 'shared/navigation_panel'%>
          <%= render 'shared/admin/admin_panel' %>
          <%= render 'search' %>
     </div>

    
    <div id="container" class="blog_posts_space">
      <div id="places">
        <%= render @posts %>
     </div>

      <div id="paginator">
        <%= paginate @posts %>
      </div>
    </div>

</div>
