<% provide(:title, @post.title) %>

<% meta :description => "#{truncate( @post.message, :length => 150, :separator => '. ', :omission => '.')}",
        :keywords => ""
%>

<div class="row show_posts post content">
  <%= render 'shared/flasher' %>

  <div class="large-3 small-7 columns">
    <div class="panel radius">
      <h3>
        <% if can? :edit, @post %>
           <%= link_to(edit_post_path(@post)) do %>
                  <%= @post.title %> <i class="comments general foundicon-edit"></i>
            <% end %>
        <% else %>
          <%= @post.title %>
        <% end %>
      </h3>

      <h2><span class="general foundicon-clock"> </span> <%= @post.created_at.strftime(" %d.%m.%Y  %H:%M")  %></h2>

      <% unless @post.user.blank? %>
        <h2><span class="social foundicon-torso"> </span>  <%= link_to @post.user.name, @post.user %></h2>
      <% end  %>

      <br>
      <% unless @post.image.blank? %>
        <ul class="small-block-grid-1 clearing-thumbs" data-clearing>
            <li><%= link_to (image_tag @post.image.url(:thumb), class: "th radius"), @post.image.url %></li>
        </ul>
      <% end  %>
    </div>
  </div>

  <div class="large-6 small-7 columns">
    <div class="panel radius">
      <span class="post_message"><%= simple_format(@post.message) %></span>
      <hr>
      <div id="disqus_thread"></div>
    </div>
  </div>

  <div class="small-5 large-3  columns">
      <%= render 'shared/right_navigation' %>
      <%= render 'shared/navigation_panel'%>
      <%= render 'shared/login' %>
      <%= render 'shared/admin/admin_panel' %>
      <%= render 'search' %>
  </div>

</div>



  <script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>

  <noscript><%= t(:enable_js) %></noscript>