<div class="row">
  <div class="small-8 small-centered columns">
      <h1>Listing cities</h1>

      <table>
          <thead>

        <tr>
          <th>Id</th>
          <th>Name lv</th>
          <th>Name ru</th>
          <th>Slug</th>
          <th>#</th>
          <th></th>
          <th></th>
        </tr>
        </thead>

      <% @cities.each do |city| %>

      <tbody>
        <tr>
          <td><%= city.id %></td>
          <td><%= city.city_name_lv %></td>
          <td><%= city.city_name_ru %></td>
          <td><%= city.city_slug %></td>
          <td>
                
                <% places = Place.where(city_id = city.id) %>
                <% count = 0 %>
                <% places.each do |place| %>
                  <% count += 1 %>
                <% end %>

                <%= count %>

          </td>
          <td><%= link_to 'Edit', edit_city_path(city) %></td>
          <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        </tbody>
      <% end %>
      </table>
    <%= link_to 'New city', new_city_path, class: "small button" %>
  </div>
</div>


