<%= simple_form_for @category, html: { class: 'custom' } do |f| %>
    <% field_set_tag "Category" do %>

      <div class="row">
        <div class="large-6 columns">
            <%= f.input :category_name_ru, label: "Russian category" %>
        </div>

        <div class="large-6 columns">
            <%= f.input :category_name_lv, label: "Latvian category" %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
            <%= f.input :category_slug, label: "Slug" %>
        </div>
      </div>
    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end  %>







