
<% if can? :make_approve, Place %>
<div class="row">
	<div class="large-12 columns">

<ul class="button-group radius">
          <li><a href="#" class="tiny button dropdown " data-dropdown="drop1" >Cities</a></li>
 
          <li><a href="#" class="tiny  button dropdown " data-dropdown="drop5">Categories</a></li>
          <li><a href="#" class="tiny  button dropdown " data-dropdown="drop3">Types</a></li>



          <% counter = Contact.find(:all).size %>
          <li><%= link_to "Contacts - #{counter}", contacts_path, class: "tiny  button " %></li>
          <% counter = User.find(:all).size  %>
          <li><%= link_to "Users - #{counter}", users_path, class: "tiny  button " %></li>
          <% counter = Place.where(approved: 0).size  %>
          <li><%= link_to "To approve - #{counter}", places_approve_path, class: "tiny  button " %></li>
          <% counter = Place.where(translated: 0, approved: 1).size  %>
          <li><%= link_to "To translate - #{counter}", places_translate_path, class: "tiny  button " %></li>
          <% counter = Request.all.size  %>
          <li><%= link_to "Requests - #{counter}", requests_path, class: "tiny  button " %></li>
          <% counter = Feed.all.size  %>
          <li><%= link_to "Feeds - #{counter}", feeds_path, class: "tiny  button " %></li>
          <% counter = Post.unapproved.size  %>
          <li><%= link_to "Posts - #{counter}", posts_unapproved_path, class: "tiny  button " %></li>
</ul>


<ul id="drop1" class="f-dropdown " data-dropdown-content>
  <li><%= link_to "Cities", cities_path %></li>
  <li><%= link_to "New City", new_city_path %></li>
</ul>
<ul id="drop2" class="f-dropdown " data-dropdown-content>
  <li><%= link_to "Countries", countries_path %></li>
  <li><%= link_to "New Country", new_country_path %></li>
</ul>
<ul id="drop3" class="f-dropdown " data-dropdown-content>
  <li><%= link_to "Types", types_path %></li>
  <li><%= link_to "New type", new_type_path %></li>
</ul>

<ul id="drop5" class="f-dropdown " data-dropdown-content>
  <li><%= link_to "Categories", categories_path %></li>
  <li><%= link_to "New category", new_category_path %></li>
</ul>

</div>
</div>
<% elsif can? :make_translate, Place %>

<div class="row">
  <div class="large-12 columns">
  <ul class="button-group radius">

          <% counter = User.find(:all).size  %>
          <li><%= link_to "Users - #{counter}", users_path, class: "tiny  button " %></li>

          <% counter = Place.where(translated: 0).size  %>
          <li><%= link_to "To translate - #{counter}", places_translate_path, class: "tiny  button " %></li>

          <% counter = Feed.all.size  %>
          <li><%= link_to "Feeds - #{counter}", feeds_path, class: "tiny  button " %></li>
  </ul>

</div>
</div>


<% end %>


