<% if current_user and current_user.role == 1 %>


<div class="panel radius admin">
    <ul class="recent">
      <li><b>Content setings:</b>
        <ul>
          <% counter = Request.all.size  %>
          <li><%= raw('<b class="label alert">New</b>  ') if counter > 0 %> <%= link_to "Requests - " + counter.to_s, requests_path %></li>

          <li><%= link_to "Add new place", new_place_path %></li>

          <% counter = Place.where(approved: 0).size  %>
          <li><%= link_to "Places to approve - #{counter}", places_approve_path %></li>

          <% counter = Place.where(translated: 0).size  %>
          <li><%= link_to "Places to translate - #{counter}", places_translate_path %></li>

          <li><%= link_to "Cities", cities_path %> &raquo; <%= link_to "new", new_city_path %></li>
          <li><%= link_to "Categories", categories_path %> &raquo; <%= link_to "new", new_category_path %></li>
          <li><%= link_to "Types", types_path %> &raquo; <%= link_to "new", new_type_path %></li>
          <li><%= link_to "Recount all", recount_path %></li>
        </ul>
      </li>

      <li><b>Users activity :</b>
        <ul>
          <li><%= link_to "All users", users_path %></li>

          <% counter = Contact.find(:all).size %>
          <li><%= raw('<b class="label alert">New</b>  ') if counter > 0 %><%= link_to "Contacts", contacts_path %></li>

          <% counter = Feed.all.size  %>
          <li><%= link_to "Users feeds - #{counter}", feeds_path %></li>

          <% counter = Post.unapproved.size  %>
          <li><%= raw('<b class="label alert">New</b>  ') if counter > 0 %> <%= link_to "Users posts", posts_unapproved_path %></li>
          <li><b><%= link_to "Subscribers :", subscribers_path %></b> 
            <ul>
              <li><%= "Active - " + "#{Subscriber.active.size}" %></li>
              <li><%= "Unapproved - " + "#{Subscriber.not_confirmed.size}" %></li>
              <li><%= link_to "Delayed jobs", delayed_path %></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><b>Statistics :</b>
        <ul>
          <li><a href="https://mandrillapp.com/">Sended emails stats</a></li>
          <li><a href="https://www.google.com/analytics/web/?hl=en&pli=1#report/visitors-overview/a3283376w68970120p71027386/">Audience Overview</a></li>
          <li><a href="https://www.google.com/analytics/web/?hl=en&pli=1#realtime/rt-overview/a3283376w68970120p71027386/">Real time overview</a></li>
          <li><a href="https://rpm.newrelic.com/accounts/310918/applications/1731722">New relic overview</a></li>
          <li><a href="https://manager.linode.com/">Linode panel</a></li>
        </ul>
      </li>
   </ul>
</div>

<% elsif current_user and current_user.role == 3 %>

<div class="panel radius">
    <ul class="recent">
      <li><b>Content setings:</b>
        <ul>
          <% counter = Request.all.size  %>
          <li><%= raw('<b class="label alert">New</b>  ') if counter > 0 %> <%= link_to "Requests - " + counter.to_s, requests_path %></li>

          <li><%= link_to "Add new place", new_place_path %></li>

          <% counter = Place.where(translated: 0).size  %>
          <li><%= link_to "Places to translate - #{counter}", places_translate_path %></li>
        </ul>
      </li>

      <li><b>Users activity :</b>
        <ul>
          <li><%= link_to "All users", users_path %></li>

          <% counter = Contact.find(:all).size %>
          <li><%= raw('<b class="label alert">New</b>  ') if counter > 0 %><%= link_to "Contacts", contacts_path %></li>

          <% counter = Post.unapproved.size  %>
          <li><%= raw('<b class="label alert">New</b>  ') if counter > 0 %> <%= link_to "Users posts", posts_unapproved_path %></li>

        </ul>
      </li>
   </ul>
</div>
<% end %>


