<%= simple_nested_form_for @place, html: { multipart: true  } do |f| %>
    <% field_set_tag "Edit this place" do %>

    <%= render 'shared/errors', object: @place%>
 
      <div class="row">
        <div class="large-6 columns">
          <%= f.association :country, label: "Country", 
            label_method: :country_name, value_method: :id %>
        </div>

        <div class="large-6 columns">
         <%= f.association :city, label: "City",
          :label_method => :city_name, value_method: :id %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.input :street, label: "Street address" %>
        </div>

        <div class="large-6 columns">
          <%= f.input :name, label: "Name for place" %>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <%= f.input :month_price, label: "Month price" %>
        </div>
        <div class="large-3 columns">
          <%= f.input :latitude, label: "Latitude" %>
        </div>

        <div class="large-3 columns">
          <%= f.input :longitude, label: "Longitude" %>
        </div>
        <div class="large-3 columns">
          <%= f.input :user_id, label: "User id" %>
        </div>
      </div>

      <div class="row ">
        <div class="large-6 columns">
          <%= f.association :intervals, label: "Change age category",
            :label_method => :interval_name, value_method: :id %>
        </div>


        <div class="large-6 columns">
          <%= f.input :approved, label: "Do you approve this place?" %>
          <%= f.input :translated, label: "Do you translate this place?" %>
          <%= f.input :with_review, label: "Place with review?" %>
          <%= f.input :sponsor, label: "Our week sponsor?" %>
          <%= f.input :vip, label: "Vip place?" %>
          <%= link_to "Destroy", @place, :method => :delete,
                            class: "button alert radius small expand", data: { confirm: 'Are you sure?' }  %>
        </div>
      </div>




      <div class="row ">
        <div class="large-6 columns">
          <%= f.association :types, label: "Change place type", 
          label_method: :type_name, value_method: :id  %>
        </div>
 

        <div class="large-6 columns">
          <%= f.association :categories, label: "Change place category",
            :label_method => :category_name, value_method: :id %>
        </div>
      </div>


      <div class="row add_margin">
        <div class="large-12 columns add_photo">
      <ul class="small-block-grid-6">
              <% for photo in @place.photos %>
                  <li>
                    
                    <div class="photo">
                  <%= link_to (image_tag photo.photo_url(:thumb).to_s, class: "th"),
                   photo.photo_url.to_s, rel: "facebox" %>
                    </div>
                    <div class="remove_photo_icon">&nbsp&nbsp&nbsp
                      <%= link_to "", photo, :method => :delete, 
                        class: "general-enclosed foundicon-remove " %>
                    </div>
                    
                  </li>
              <% end %>
            </ul>
        </div>
      </div>

      <div class="row photos">
        <div class="large-7 columns add_photo">

            <% f.fields_for :photos do |photo|  %>
              <%= photo.file_field :photo %>
              <%= photo.link_to_remove "", 
                class: "general-enclosed foundicon-remove " %>
            <% end %>
  
            

            <%= f.link_to_add "Add photos", :photos, class: "small button" %>
          </div>
      </div>


      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_ru, label: "Message for Russian speakers", as: :text %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_lv, label: "Message for Latvian speakers", as: :text %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <%= f.input :review_ru, label: "Review for Latvian speakers", as: :text %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <%= f.input :review_lv, label: "Review for Latvian speakers", as: :text %>
        </div>
      </div>



    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end  %>