<%= simple_nested_form_for @place, html: {class: 'chzn-select', multipart: true  } do |f| %>
  <div class="panel radius">
    <%= render 'shared/errors', object: @place %>
     
      <div class="row">
        <div class="large-4 columns">
          <%= f.input :name, label: "Name (for url)" %>
        </div>
        <div class="large-4 columns">
        <%= f.association :country, collection: @countries, label: "Country", 
            label_method: :country_name, value_method: :id %>
        </div>
        <div class="large-4 columns">
         <%= f.association :city, collection: @cities, label: "City",
          :label_method => :city_name, value_method: :id %>
        </div>
      </div>


      <div class="row">
        <div class="large-3 columns">
          <%= f.input :month_price, label: "Month price", as: :string %>
        </div>
        <div class="large-3 columns">
          <%= f.input :user_id, label: "User id", as: :string %>
        </div>
        <div class="large-3 columns">
          <%= f.input :vip, label: "Vip? 0 - no, 1 - yes" %>
        </div>
      </div>

      <div class="row ">
        <div class="large-3 columns">
          <%= f.input :age_min, label: t(:min_age), as: :string %>
        </div>
        <div class="large-3 columns">
          <%= f.input :age_max, label: t(:max_age), as: :string %>
        </div>
        <div class="large-3 columns">
          <%= f.input :lv, label: "LV 1-yes", as: :string %>
        </div>
        <div class="large-3 columns">
          <%= f.input :ru, label: "RU 1-yes", as: :string %>
        </div>

      </div>
      <div class="row ">
        <div class="large-6 columns">
          <%= f.association :category, collection: @categories, label: t(:place_category), 
          label_method: :category_name, include_blank: true %>
        </div>
 

        <div class="large-6 columns">
          <%= f.association :type, collection: @types, label: t(:place_type), 
          label_method: :type_name, include_blank: true %>
        </div>
      </div>


<span class="label radius">If simple place</span>

      <div class="row ">
        <br>
        <div class="large-2 columns">
          <%= f.input :simple_place, label: "SP? 0-yes 1-no", as: :string %>
        </div>
        <div class="large-3 columns">
          <%= f.input :email, label: "Email" %>
        </div>
        <div class="large-3 columns">
          <%= f.input :phone, label: "Phone", as: :string %>
        </div>
        <div class="large-4 columns">
          <%= f.input :website, label: "Website" %>
        </div>
      </div>





      <div class="row add_margin">
        <div class="large-12 columns add_photo">
      <ul class="small-block-grid-6">
              <% for photo in @place.photos %>
                  <li>
                    
                    <div class="photo">
                  <%= link_to (image_tag photo.photo_url(:thumb).to_s, class: "th"),
                   photo.photo_url.to_s, rel: "facebox" %>
                    </div>
                    <div class="remove_photo_icon">&nbsp&nbsp&nbsp
                      <%= link_to "", photo, :method => :delete, 
                        class: "general-enclosed foundicon-remove " %>
                    </div>
                    
                  </li>
              <% end %>
            </ul>
        </div>
      </div>

      <div class="row photos">
        <div class="large-7 columns add_photo">

            <% f.fields_for :photos do |photo|  %>
              <%= photo.file_field :photo %>
              <%= photo.link_to_remove "", 
                class: "general-enclosed foundicon-remove " %>
            <% end %>
  
            

            <%= f.link_to_add "Add photos", :photos, class: "small button" %>
          </div>
      </div>


      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_ru, label: "Message for Russian speakers", as: :text %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_lv, label: "Message for Latvian speakers", as: :text %>
        </div>
      </div>
    <%= f.button :submit, class: 'small button'  %>

</div>
<% end  %>