<%= simple_nested_form_for @place, html: { class: 'custom', multipart: true  } do |f| %>
    <% field_set_tag "Edit your place" do %>

<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

      <div class="row">
        <div class="large-6 columns">
          <%= f.association :locations, label: "Country", :label_method => :country %>
        </div>

        <div class="large-6 columns">
          <%= f.association :locations, label: "City", :label_method => :city %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.input :street, label: "Street address" %>
        </div>

        <div class="large-6 columns">
          <%= f.input :name, label: "Name for place" %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.input :email, label: "Email" %>
        </div>

        <div class="large-3 columns">
          <%= f.input :phone, label: "Phone number" %>
        </div>

        <div class="large-5 columns">
          <%= f.input :website, label: "Website" %>
        </div>

      </div>

      <div class="row ">
        
        <div class="large-6 columns">
          <%= f.association :types, label: "Change type of your place",
            selected: ["Другой"], :label_method => :type_name %>
        </div>

        <div class="large-6 columns">
            <%= f.input :manytypes,
              label: "I have many types of places" %>
        </div>
      </div>


      <div class="row ">

        <div class="large-6 columns">
          <%= f.association :categories, label: "Change place category",
            selected: ["Другой"], :label_method => :category_name %>
        </div>
        <div class="large-6 columns">
          <%= f.association :intervals, label: "Change age category",
            selected: ["Другой"], :label_method => :interval_name %>
        </div>
      </div>


      <div class="row add_margin">
        <div class="large-12 columns add_photo">
			<ul class="small-block-grid-6">
              <% for photo in @place.photos %>
                  <li>
                  	
                  	<div class="photo">
                  <%= link_to (image_tag photo.photo_url(:thumb).to_s, class: "th"),
                   photo.photo_url(:full).to_s, rel: "facebox" %>
                  	</div>
                  	<div class="remove_photo_icon">&nbsp&nbsp&nbsp
	                  	<%= link_to "", photo, :method => :delete, 
	                  		class: "general-enclosed foundicon-remove " %>
                  	</div>
                  	
                  </li>
              <% end %>
            </ul>
        </div>
      </div>

      <div class="row photos">
        <div class="large-7 columns add_photo">

            <% f.fields_for :photos do |photo|  %>
              <%= photo.file_field :photo %>
              <%= photo.link_to_remove "", 
                class: "general-enclosed foundicon-remove " %>
            <% end %>
  
            

            <%= f.link_to_add "Add photos", :photos, class: "small button" %>
            <h6><small>Only 3 photo per place. Max size per foto 2 MB. Need more? Contact with us.</small></h6>

          </div>
      </div>



      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_ru, label: "Message for Russian speakers", :as => :text %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_lv, label: "Message for Latvian speakers", as: :text %>
        </div>
      </div>

    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end  %>