<div class="panel radius">

<%= simple_nested_form_for @place, html: {class: 'chzn-select', multipart: true  } do |f| %>
    <% if @place.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@place.errors.count, "error")%>
            prohibited this place from being saved:  
        </h2>
        <p>There were problems with the following fields:</p>
        <ul>
        <%= @place.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>   
    </div>

<% end %>

  

    <%= render 'shared/errors', object: @place %>


      <div class="row ">
        <div class="large-2 columns">
          <%= f.input :month_price, label: t(:month_price), as: :string %>
        </div>
        <div class="large-2 columns">
          <%= f.input :age_min, label: t(:min_age), as: :string %>
        </div>
        <div class="large-2 pull-6 columns">
          <%= f.input :age_max, label: t(:max_age), as: :string %>
        </div>
      </div>

      <div class="row collapse hightlight">
        <% if @place.slug.blank? %>
        <h5 class="subheader"><%= t(:short_link) %></h5>
        <div class="small-2 columns">
          <span class="prefix">www.yoda.lv/</span>
        </div>
        <div class="small-3 columns">
           <%= f.text_field :slug %>
        </div>
        <div class="small-1 columns">
        </div>
        <div class="small-6 columns">
          <p class="important_text"><%= t(:change_link) %></p>
        </div>
        <% else %>
          <span class="prefix postfix">www.yoda.lv/<%= @place.slug %></span>
          <br>
        <% end  %>

      </div>



      <div class="row add_margin">
        <div class="large-12 columns add_photo">
			<ul class="small-block-grid-6 clearing-thumbs" data-clearing ">
              <% for photo in @place.photos %>
                  <li>
                  	
                  	<div class="photo">
                  <%= link_to (image_tag photo.photo_url(:thumb).to_s, 
                    height: '80', width: '100', class: "th"),
                   photo.photo_url.to_s %>
                  	</div>
                  	<div class="remove_photo_icon">&nbsp&nbsp&nbsp
	                  	<%= link_to "", photo, :method => :delete, 
	                  		class: "general-enclosed foundicon-remove " %>
                  	</div>
                  	
                  </li>
              <% end %>
            </ul>
        </div>
      </div>

      <div class="row photos">
        <div class="large-7 columns add_photo">

            <% f.fields_for :photos do |photo|  %>
              <%= photo.file_field :photo %>
              <%= photo.link_to_remove "", 
                class: "general-enclosed foundicon-remove " %>
            <% end %>
  
            

            <%= f.link_to_add t(:add_photos), :photos, class: "small button" %>
            <p>
              <%= raw(t(:photo_how_to)) %> <%= link_to t(:contact_with_us), new_contact_path %>
            </p>
            <br>
          </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_ru, label: t(:message_for_ru), :as => :text %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_lv, label: t(:message_for_lv), as: :text %>
        </div>
      </div>

    <%= f.button :submit, t(:add_place), class: 'small button'  %>
  <% end %>
</div>

