<div class="feeds">
	<ul class="recent">
		<% if @place.feeds.blank? %>
			<li><%= t :no_feeds  %></li>
		<% else %>
		    <% @place.feeds.last(3).reverse.each do |feed| %>
		    	<i>
		    		<%= feed.created_at.strftime("%d.%m.%Y  %H:%M") %>
					<% if can? :destroy, feed %>
		               <%= link_to "", feed, method: :delete, data: { confirm: t(:sure_question) }, class: "general foundicon-remove" %>
		            <% end %>
		    	</i>
		        <li class="feed"><%= simple_format(feed.message) %></li>

		    <% end %>
		<% end %>
	</ul>
</div>

<% unless @feed.blank? %>
	<a href="#" data-reveal-id="feeds_new" class="button tiny secondary right radius"><%= t(:create_news) %></a>
	<br>
	<div id="feeds_new" class="reveal-modal xlarge">
	  <h2><%= t(:create_news) %></h2>
		<%= render 'feeds/form' %>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
<% end %>