<% @places.each do |place| %>
	<% @place = place %>

		<div class="row">
			  <div class="large-6 columns">
				<h5 id="title">
					<%= link_to place.name, controller: 'places', action: 'make_approve', id: place.id %>
				</h5>
				<%= render 'subnav', object: @place %>
			  </div> 
			  <div class="large-6 columns">
			 	<%= render 'breadcrumbs', object: @place %>  
			  </div>
		</div>


		<div class="row">
			<div class="large-6 columns">
				<p><%= truncate(place.message, :length => 250, :separator => '. ', :omission => '') %>
						<%= link_to "...", place_path(place)%></p>

				<h6><small><%= link_to "read more...", place_path(place)%></small></h6>		
			</div>

			<div class="large-6 columns ">
				<ul class="large-block-grid-3 ">
					<% place.photos = place.photos.take(3) %>
					<% place.photos.each do |photo| %>
						<li>
							<%= link_to (image_tag photo.photo_url(:thumb).to_s,
							height: '60', width: '100', class: "th radius"),
							 photo.photo_url.to_s, rel: "facebox" %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	<hr>
<% end %>

<%= paginate @places %>
