
<div class="small-12 large-6 place_item columns item">
	<div class="panel radius ">
		<ul class="recent">
			<li class="first"><h5>
				<% if place.simple_place == 1 %>
					<i class="general foundicon-star"></i>
				<% else %>
					<i class="general foundicon-location"></i>
				<% end %>
			<%= link_to place.street + ", " + place.city.city_name_lv, place_path(place) %>

			</h5> 
			</li>
		</ul>

		
			<% if place.simple_place == 1 and place.user.avatar.present? %>
			<div class="row">
				<div class="small-12 large-5 columns user_image">
					<%= image_tag place.user.avatar.url, class: "th radius" %>
				</div>

				<div class="small-12 large-7 columns">
					<p><%= truncate( place.message, :length => 150, :separator => '. ', :omission => '.') %></p>
					<h5 class="text_right"><small><%= link_to t(:read_more), place_path(place)%></small></h5>	
				</div>
			</div>
			<% else %>
				<p><%= truncate( place.message, :length => 150, :separator => '. ', :omission => '.') %></p>
				<h5 class="text_right"><small><%= link_to t(:read_more), place_path(place) %></small></h5>	
			<% end %>
					

		

		<div class="crumbs_block">
			<i class="general foundicon-folder"></i>
				<%= link_to place.category.category_name, { controller: :places, action: :index, category: place.category.category_slug} %> &raquo;
				<%= link_to place.type.type_name, { controller: :places, action: :index, type: place.type.type_slug} %> 
				
				<% if place.age_min.present? and place.age_max.present? %>
					&raquo;
					<%= "#{ t(:from) } #{ place.age_min } #{ t(:to) } #{ place.age_max } #{ t(:age) } " %>
				<% end  %>
		</div>

	</div>
</div>




