<div class="place_simple">
		<div class="row">
			  <div class="small-12 large-6 columns">
				<h5><%= link_to place.name, place_path(place)%>
					<% if can? :make_approve, Place %>
					<%= link_to ">> edit", controller: 'places', action: 'make_approve', id: place.id %>
				 	<% end %>
				 	<% if can? :edit, place %>
                        <%= link_to "", edit_place_path(place), class: "comments general foundicon-edit" %>
                    <% end %>
			 	</h5>
			  </div>   
			  <div class="small-12 large-6 columns">
			 	 <span class="crumbs">
					<ul class="right" id="crumbs">
						<% unless params[:action] == "show" %>
							<li>
								<%= link_to place.city.city_name, 
							           		{ controller: :places, action: :index, city: place.city.city_slug} %>
							</li>
						<% end %>
						
						<% place.categories.each do |category| %>
					       <li><%= link_to category.category_name, 
					       		{ controller: :places, action: :index, category: category.category_slug} %></li>
						<% end %>
						
						
						<% place.types.each do |type| %>
							<li><%= link_to type.type_name, 
								{ controller: :places, action: :index, type: type.type_slug} %></li>
						<% end  %>
						<li>
							<a href="#" class="last"><%= "#{ t(:from) } #{ place.age_min } #{ t(:to) } #{ place.age_max } #{ t(:age) } " %> &nbsp&nbsp </a>
						</li>
					</ul>
					</span>
			  </div>
		</div>


		<div class="row">
			<div class="large-6 small-12 columns">
				<p><%= simple_format(truncate( place.message, :length => 200, :separator => '. ', :omission => '.') )%></p>

				<h6><small><%= link_to t(:read_more), place_path(place)%></small></h6>		
			</div>

			<div class="large-6 small-12 columns ">
				<ul class="large-block-grid-3 clearing-thumbs photos_for_roll" data-clearing >
					<% place.photos.take(3).each do |photo| %>
						<li>
							<%= link_to (image_tag photo.photo.url(:thumb), 
								height: '60', width: '100', class: "th radius"),
							 photo.photo.url %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<hr>

