<table class="contacts">

  <tbody>
    <tr>
      <td class="td-title">
          <i class="general foundicon-globe"></i><%= t(:city_country) %></td>
      <td>
        <%= get_location(@place) %>
      </td>
    </tr>
    <tr>
      <td class="td-title">
          <i class="general foundicon-location"></i><%= t(:address) %></td>
      <td><%= @place.street.titleize %></td>
    </tr>

    <% unless @place.month_price.blank?  %>
      <tr>
        <td class="td-title">
          <i class="general foundicon-cart"></i><%= t(:month_price) %>
        </td>
        <td><%= number_to_currency(@place.month_price, locale: :lv) %></td>
      </tr>
    <% end %>

      <tr>
        <td class="td-title">
          <i class="general foundicon-edit"></i><%= t(:updated_at) %>
        </td>
        <td><%= @place.updated_at.strftime("%d.%m.%Y") %></td>
      </tr>

  </tbody>
</table>