<% @place = Place.sponsor.first %>
<% unless @place.blank? %>

 


<div class="panel">
      <h5><%= link_to @place.name, place_path(@place)%></h5>
    <%= render 'subnav', object: @place %>
	  <ul class="small-block-grid-3 ">


            <% @place.photos.take(3).each do |photo| %>
              <li>
                <%= link_to (image_tag photo.photo_url(:thumb).to_s, 
                  height: '60', width: '100', class: "th radius"),
                 photo.photo_url.to_s, rel: "facebox" %>
              </li>
            <% end %>
        </ul>
        <p><%= truncate(@place.message, :length => 250, :separator => '. ', :omission => '') %>
						<%= link_to "...", place_path(@place)%></p>
		<h6 class="right"><small><%= link_to "read more...", place_path(@place)%></small></h6>
 </div>
<% end %>