<% @user = User.sponsor.first %>


<% unless @user.blank? %>

  	  <ul class="small-block-grid-1 recent">
        <li><%= image_tag @user.avatar_url, height: '154', width: '254', 
            class: "th radius" if @place.user.avatar? %></li>

        <li><h4 style="text-align: center"><%= @place.user.name unless @place.user.name.blank? %></h4></li>
        <li class="about_block"><p><%= simple_format(@place.user.about) unless @place.user.about.blank? %></p></li>
        <li><p class="contact_info">

        <% unless @place.user.email.blank?  %>
          <%= @place.user.email %><br>
        <% end %>

        <% unless @place.user.web_site.blank?  %>
          <%= @place.user.web_site  %> <br>
        <% end %>

        <% unless @place.user.phone.blank?  %>
          <%= "(+371) - #{@place.user.phone}" %><br>
        <% end %>
        
      </p></li>

    </ul>


    <% places = Place.where("approved = ? AND user_id = ?", 1, @user.id) %>

    <% if places.size >= 1 %>
      <div class="panel radius right_panel">
        <ul class="recent">
          <li class="first"><h5><%= t (:all_user_places)  %></h5></li>
          <% places.each do |place| %>
            <li class="li_second"><%= link_to place.name, place %> 

              <% place.types.each_with_index do |type, counter| %>&nbsp&raquo;&nbsp  
              <%= link_to type.type_name,controller: :places, action: :index, type: type.type_slug %> 

              <% if counter > 1 %>
                &nbsp&raquo;&nbsp  
              <% end %>
            <% end %></li>
          <% end %>
        </ul>
    <% end  %> 
   </div>
<% else %>
  <%= render 'shared/recent_added' %>
<% end %>
