<div id="bread">
	<ul class="left">	
	  <li>
		    <%= link_to t(:with_review), 
		         place_path(@place, :anchor => "review"), 
		         {class: "rewiev"} if @place.with_review == 1 %>
	  </li>
	  <li>
	    <%= link_to t(:sponsor), 
	        place_path(@place, :anchor => "review"),
	         {class: "gold"} if @place.sponsor == 1%>
	  </li>
	  <li>
	  		<%= link_to t(:comments), place_path(@place),
	  		{ class: "comments" },
	  		:"data-disqus-identifer" => @place.id  %>


	  	   <%= link_to '', place_path(@place, :anchor => "disqus_thread"),
	  		{ class: "comments" },
	  		:"data-disqus-identifer" => @place.id  %>
	  </li>
		 <li>
		 	<% votes = @place.votes %>

		 	<a href="#" class="<%= votes > -1 ? "positive_vote" : "negative_vote" %>">
		 		<%= " #{ votes > -1 ? "+" : ""}  #{votes}" %></a>
		 </li>
		 <% if current_user && current_user.can_vote_for?(@place) %>
			<li>
				<%= link_to "", vote_place_path(@place, value: 1), method: "post",
					class: "rewiev general foundicon-up-arrow" %>
				<%= link_to "", vote_place_path(@place, value: -1), method: "post",
					class: "red general foundicon-down-arrow"  %>
			</li>
		 <% end %>
		 <% if can? :make_approve, @place %>
			<li><%= link_to "Admin edit", places_make_approve_path(@place), class: "negative_vote" %></li>
		 <% end %>
		 <% if can? :update, @place %>
			<li><%= link_to "Edit", edit_place_path(@place), class: "negative_vote" %></li>
		 <% end %>
	</ul>
</div>