<div id="bread">
	<ul class="left">	
	  <li>
		    <%= link_to t(:with_review), 
		         place_path(@place, :anchor => "review"), 
		         {class: "rewiev"} if @place.with_review == 1 %>
	  </li>
	  <li>
	  		<i class="general foundicon-mic"></i>
	  	   <%= link_to '', place_path(@place, :anchor => "disqus_thread"),
	  		{ class: "comments"},
	  		:"data-disqus-identifer" => @place.id  %>
	  </li>
		 <li>

		 	<a href="#" class="<%= @place.votes >= 0 ? 'positive_vote' : 'negative_vote' %>" >
		 		<%= "#{ @place.votes >= 0 ? '+' : ''}  #{@place.votes}" %></a>
		 </li>
		 <% if current_user && current_user.can_vote_for?(@place) %>
			<li>
				<%= link_to "", vote_place_path(@place, value: 1), method: "post",
					class: "rewiev general foundicon-up-arrow" %>
				<%= link_to "", vote_place_path(@place, value: -1), method: "post",
					class: "red general foundicon-down-arrow"  %>
			</li>
		 <% end %>
		 <% if can? :make_approve, @place %>
			<li><%= link_to "", places_make_approve_path(@place), class: "comments general foundicon-add-doc" %></li>
		 <% end %>
		 <% if can? :update, @place %>
			<li><%= link_to "", edit_place_path(@place), class: "comments general foundicon-edit" %></li>
		 <% end %>
	</ul>
</div>