<%= simple_nested_form_for @place, html: { class: 'custom', multipart: true  } do |f| %>
    <% field_set_tag "Check in your place " do %>

      
      
      <div class="row">
        <div class="large-6 columns">
          <%= f.input :country, label: "Country", selected: [ "Latvia" ], 
            collection: [ "Latvia", "Brazil", "New Zealand"] %>
        </div>

        <div class="large-6 columns">
          <%= f.input :city, label: "City",
            collection: [ "Riga", "Ogre"] %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.input :street, label: "Street address" %>
        </div>

        <div class="large-6 columns">
          <%= f.input :name, label: "Name for place" %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.input :email, label: "Email" %>
        </div>

        <div class="large-3 columns">
          <%= f.input :phone, label: "Phone number" %>
        </div>

        <div class="large-5 columns">
          <%= f.input :website, label: "Website" %>
        </div>
      </div>

      <div class="row">
        
        <div class="large-6 columns">
          <%= f.association :types, label: "Change type of your place",
            selected: ["Другой"] %>
        </div>
        <div class="large-6 columns">
          <div class="check_box_hightlight">
            <%= f.input :manytypes,
              label: t(:many_types) %>
          </div>
        </div>

      </div>

      <div class="row photos">
        <div class="large-12 columns add_photo">

            <% f.fields_for :photos do |photo|  %>
              <%= photo.file_field :photo %>
            <% end %>
        
            <%= f.link_to_add "Add photos", :photos, class: "small button" %>
        </div>
    </div>


      <div class="row">
        <div class="large-12 columns">
          <%= f.globalize_fields_for(:ru) do |g| %>
            <%= g.input :message, label: "Message for Russian speakers", as: :text %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.globalize_fields_for(:lv) do |g| %>
            <%= g.input :message, label: "Message for Latvian speakers", as: :text  %>
          <% end %>
        </div>
      </div>

    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end %>