<%= simple_nested_form_for @place, html: { class: 'custom', multipart: true  } do |f| %>

    <% field_set_tag "Check in your place " do %>

      <%= render 'shared/errors', object: @place%>
      
      <div class="row">
        <div class="large-6 columns">
          <%= f.association :locations, label: "Country", :label_method => :country,
            :selected => 1 %>
        </div>

        <div class="large-6 columns">
          <%= f.association :locations, label: "City", :label_method => :city, 
            :selected => 1 %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.input :street, label: "Street address" %>
        </div>

        <div class="large-6 columns">
          <%= f.input :name, label: "Name for place" %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.input :email, label: "Email" %>
        </div>

        <div class="large-3 columns">
          <%= f.input :phone, label: "Phone number" %>
        </div>

        <div class="large-5 columns">
          <%= f.input :website, label: "Website" %>
        </div>
      </div>




      <div class="row ">
        <div class="large-4 columns">
          <%= f.association :intervals, label: "Change age category",
            :label_method => :interval_name %>
        </div>
        <div class="large-4 columns">
          <%= f.association :categories, label: "Change place category",
            :label_method => :category_name %>
        </div>
        <div class="large-4 columns">
          <%= f.association :types, label: "Change type of your place",
            :label_method => :type_name %>
        </div>
      </div>

      <div class="row ">
        <div class="large-12 columns">
          <p class="important_text">Вашей категории, города или страны нет в списке? 
          Оставьте эти поля пустыми. Мы с вами свяжемся по e-mail для уточнения деталей и 
          заполним их за вас.</p>
        </div>
      </div>


      <div class="row photos">
        <div class="large-7 columns add_photo">

            <% f.fields_for :photos do |photo|  %>
              <%= photo.file_field :photo %>
              <%= photo.link_to_remove "", 
                class: "general-enclosed foundicon-remove " %>
            <% end %>
  
            

            <%= f.link_to_add "Add photos", :photos, class: "small button" %>
            <h6 id="text_for_photo_button"><small>Only .jpg .jpeg .gif .png formats. Max size per foto 2 MB. Need more? Contact with us.</small></h6>

        </div>
    </div>


      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_ru, label: "Message for Russian speakers", as: :text %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message, label: "Message for Latvian speakers", as: :text  %>
        </div>
      </div>

    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end %>