<%= simple_nested_form_for @place, html: { class: 'chzn-select', multipart: true  } do |f| %>

    <% field_set_tag t(:check_in_your_place) do %>

        <%= render 'shared/errors', object: @place%>
        <br><br>
      
      <div class="row">
        <div class="large-6 columns">
          <%= f.association :country, collection: Country.find(:all).uniq, label: t(:country), 
          label_method: :country_name, selected: 1, include_blank: true  %>
        </div>
        <div class="large-6 columns">
          <%= f.association :city, collection: City.find(:all).uniq, label: t(:city), 
          label_method: :city_name, selected: 1, include_blank: true  %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.input :street, label: t(:street_address)%>
        </div>

        <div class="large-6 columns">
          <%= f.input :name, label: t(:name_for_place) %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.input :email, label: "Email" %>
        </div>

        <div class="large-3 columns">
          <%= f.input :phone, label: t(:phone_number) %>
        </div>

        <div class="large-5 columns">
          <%= f.input :website, label: t(:website) %>
        </div>
      </div>


 
      <div class="row ">
        <div class="large-4 columns">
          <%= f.association :categories, collection: Category.find(:all).uniq, label: t(:place_category), 
          label_method: :category_name, :input_html => { :multiple => false } %>
        </div>
        <div class="large-4 columns">
          <%= f.association :types, collection: Category.find(:all).uniq, as: :grouped_select, 
            group_label_method: :category_name, group_method: :types,
            label_method: :type_name, value_method: :id, label: t(:type_category) %>
        </div>
        <div class="large-4 columns">
          <%= f.association :intervals, collection: Interval.find(:all).uniq, label: t(:age_category),
            label_method: :interval_name, :input_html => { :multiple => false } %>
        </div>
      </div>

      <div class="row ">
        <div class="large-12 columns">
          <p class="important_text"><%= t :forbidden_category %></p>
        </div>
      </div>


      <div class="row photos">
        <div class="large-7 columns add_photo">

            <% f.fields_for :photos do |photo|  %>
              <%= photo.file_field :photo %>
              <%= photo.link_to_remove "", 
                class: "general-enclosed foundicon-remove " %>
            <% end %>
  
            

            <%= f.link_to_add t(:add_photos), :photos, class: "small button" %>
            <p class="important_text">
              <%= t :photo_how_to %> <%= link_to t(:contact_with_us), new_contact_path %>
            </p>

        </div>
    </div>


      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_ru, label: t(:message_for_ru), as: :text %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
            <%= f.input :message_lv, label: t(:message_for_lv), as: :text  %>
        </div>
      </div>

    <%= f.button :submit, t(:add_place), class: 'small button'  %>
  <% end %>
<% end %>