<% provide(:title, 'Places') %>


<%= render 'shared/gmap' %>
<div class="row ">
  <div class="large-12 small-12 columns">
    <%= render 'shared/filter' %>
    <%= render 'shared/flasher' %>

    <div class="row content">
      <div id="places" class="large-8 small-12 columns">
        <%= render 'places_roll'  %>
      </div>



      <div class="large-4 small-12 columns">

        <%= render 'shared/login' %>


        <%= render 'sponsor' %>

        <%= render 'shared/recent_added' %>


      </div>
    </div>

    <div id="paginator" class="row">
            <%= paginate @places #, :remote => true
             %>
    </div>

  </div>
</div> 