<% provide(:title, @place.name) %>


<div class="row content">
  <div class="small-9 columns">
      
      <%= render 'shared/gmap' %>
      <%= render 'shared/flasher' %>
      <br>
      <div class="panel radius">
        <% @byways.each do |byway| %>
          <%= byway.street + ", " + byway.city.city_name_lv %> <%= link_to "", byway, method: :delete, data: { confirm: t(:sure_question) }, class: "general foundicon-remove"  %> || 
        <% end  %>
      </div>
      <%= render 'byways/form'  %>

      <%= render 'approve_form'  %>
  </div>
  <div class="small-3 columns">
      <%= render 'shared/admin/admin_panel' %>
      <%= render 'shared/navigation_panel'%>
      <%= render 'shared/login' %>
  </div>  
</div>