<% provide(:title, 'Add new place') %>

<div class="row content_bottom_margin" >
  <div class="large-12 columns">
    
<%= render 'shared/flasher' %>
 
    <div class="row content ">

          <div class="small-5 large-3 columns">
              <%= render 'shared/admin/admin_panel' %>
              <%= render 'shared/navigation_panel'%>
              <%= render 'shared/login' %>
          </div>

          <div class="small-7 large-9 columns">
              <%= render 'approve_form'  %>
          </div>


        </div>
    </div>
  </div>
</div>

