<% provide(:title, 'Add new place') %>

<% meta :description => "#{ strip_tags(t(:how_to)) }" %>

<div class="row" >
  <div class="large-12 columns">

    <div class="row">
      <div class="small-4 small-centered columns">
        <div id="featured">
          <%= image_tag("logo.png", width: '250px', height: '250px') %>
        </div>
      </div>
    </div>
    
<%= render 'shared/flasher' %>
 
    <div class="row content">


        

          <div class="small-12 large-9 columns">
              <%= render 'translation_form'  %>
          </div>

          <div class="large-3 columns hide-for-small">
            <%= raw t (:how_to) %>
            <hr>
            <%= render 'shared/recent_added' %>
        </div>
    </div>
  </div>
</div>

