<% provide(:title, @place.name) %>

<div class="large-12 columns">

      <%= render 'shared/gmap' %>

        <div class="row">
                    <div class="large-8 columns">
                      


                        <h4><%= @place.name %></h4>

                        <dl class="sub-nav">
                          <dd class="active"><a href="#">With review</a></dd>
                          <dd class="active"><a href="#">4 comments</a></dd>
                          

                            <dd class="active"><a href="#"><%= pluralize @place.votes, "vote" %></a></dd>
                            <% if current_user && current_user.can_vote_for?(@place) %>
                              <dd>
                                <%= link_to "", vote_place_path(@place, value: 1), method: "post",
                                  class: "general foundicon-up-arrow" %>
                                <%= link_to "", vote_place_path(@place, value: -1), method: "post",
                                  class: "general foundicon-down-arrow"  %>
                              </dd>
                            <% end %>

                        </dl>



                        <table class="contacts">
                          <tbody><tr>
                            <td class="td-title">
                                <i class="general foundicon-globe"></i>City, Country</td>
                            <td><%= @place.city.titleize %>, 
                                <%= @place.country.titleize %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-location"></i>Street address</td>
                            <td><%= @place.street.titleize %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-mail"></i>Email</td>
                            <td><%= @place.email.titleize %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-phone"></i>Phone number</td>
                            <td><%= @place.phone %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-website"></i>Web address</td>
                            <td><%= @place.website %></td>
                          </tr>
                        </tbody></table>

                        <p class="owners_text"><%= @place.message %></p>

                        <hr>

                        <div id="disqus_thread"></div>



                    </div>

                  <div class="large-4 columns">
                    <ul class="breadcrumbs">
                        <% @place.types.each do |type| %>
                              <li><a href="#"><%= type.type_name %></a></li>
                            <% end  %>


                      <li><a href="#">Home</a></li>
                      <li class="unavailable"><a href="#">Gene Splicing</a></li>
                    </ul>

                    <ul class="small-block-grid-3 photo_block">
                      <% for photo in @place.photos %>
                          <li>
                            <%= link_to (image_tag photo.photo_url(:thumb).to_s, class: "th"),
                                photo.photo_url(:full).to_s, rel: "facebox" %>
                          </li>
                      <% end %>
                    </ul>
                        
                    <%= render 'shared/recent_added' %>

                  </div>
                  <!-- End Right column -->


        </div>
      </div>





<script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the.</noscript>