<script type="text/javascript">
  $(document).ready(function() {
  Gmaps.map.callback = function() {
  console.log(Gmaps.map.markers)
  }
  });
</script>

    <div class="row">
      <div class="large-12 columns">
      <%= render 'shared/gmap' %>
        <div class="row">

                    <div class="large-8 columns">
                      
                        <h4><%= @place.name %></h4>

                        <dl class="sub-nav">
                          <dd class="active"><a href="#">With review</a></dd>
                          <dd class="yellow active"><a href="#">4 comments</a></dd>
                          <dd class="stars"> <i class="general foundicon-star">
                              <i class="general foundicon-star">
                                <i class="general foundicon-star">
                                  <i class="general foundicon-star">
                                    <i class="general foundicon-star">
                                    </i></i></i></i></i>
                            </dd>
                        </dl>



                        <table class="contacts">
                          <tbody><tr>
                            <td class="td-title">
                                <i class="general foundicon-globe"></i>City, Country</td>
                            <td><%= @place.city.titleize %>, 
                                <%= @place.country.titleize %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-location"></i>Street address</td>
                            <td><%= @place.street.titleize %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-mail"></i>Email</td>
                            <td><%= @place.email.titleize %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-phone"></i>Phone number</td>
                            <td><%= @place.phone %></td>
                          </tr>
                          <tr>
                            <td class="td-title">
                                <i class="general foundicon-website"></i>Web address</td>
                            <td><%= @place.website %></td>
                          </tr>
                        </tbody></table>

                        <p class="owners_text"><%= @place.message %></p>
                    </div>




                  <div class="large-4 columns">
                    <ul class="breadcrumbs">
                        <% @place.types.each do |type| %>
                              <li><a href="#"><%= type.title %></a></li>
                            <% end  %>


                      <li><a href="#">Home</a></li>
                      <li class="unavailable"><a href="#">Gene Splicing</a></li>
                    </ul>

                    <ul class="small-block-grid-3 photo_block">
                      <% for photo in @place.photos %>
                          <li><%= image_tag photo.photo_url(:thumb).to_s, class: "th" %></li>
                      <% end %>
                    </ul>
                        
                    <%= render 'shared/recent_added' %>

                  </div>
                  <!-- End Right column -->


        </div>
      </div>
    </div>