<% provide(:title, @place.name) %>

<% meta :description => "#{truncate( @place.message, :length => 150, :separator => '. ', :omission => '.')}",
        :keywords => get_keywords(@place)
%>





<div class="row content show content_bottom_margin">
  <div class="large-12 small-12 columns">
  <%= render 'shared/gmap' %>
  <%= render 'shared/filter' %>
    <%= render 'shared/flasher' %>




    <div class="row content">


      <div class="small-5 large-3 columns">
        <%= render 'shared/user_box', object: @place %>
      </div>

      
      <div class="small-7 large-6 columns">

            <h2><%= @place.name %>                    
            <% if can? :edit, @place %>
              <%= link_to " ", edit_place_path(@place), class: "comments general foundicon-edit" %>
            <% end %>
            <% if can? :make_approve, Place %>
              <%= link_to " ",{controller: 'places', action: 'make_approve', id: @place.id},{ class: "comments general foundicon-error" } %>
            <% end %>
          </h2>


          <div class="show_page_bread">
            <%= render 'breadcrumbs', object: @place %>
          </div>


          <%= render 'show_contacts', object: @place %> 
          <%= simple_format(@place.message) %>


        <hr>
        <div class="row">
          <div class="large-12 columns">
            <ul class="small-block-grid-4 clearing-thumbs" data-clearing>
                <% @photos.each do |photo| %>
                  <li>
                    <%= link_to (image_tag photo.photo.url(:thumb), 
                      height: '60', width: '100', class: "th radius"),
                     photo.photo.url %>
                  </li>
                <% end %>
            </ul>
          </div>
        </div>

        <hr>
        <div id="disqus_thread"></div>
      </div>


      <div class="large-3 columns hide-for-small">
          <%= render 'shared/right_navigation' %>
          <%= render 'feed_list' %>
          <%= render 'feeds/form' if @feed %>
          <hr>
          <%= render 'blog_list' %>
      </div>
    </div>
  </div>
</div>
