<% provide(:title, @place.name) %>

<%= render 'shared/gmap' %>

<div class="row">
  <div class="large-12 columns">
    <%= render 'shared/filter' %>
    <%= render 'shared/flasher' %>

    <div class="row content">
      <div class="small-8 columns">
        
        <div class="row">
            <div class="small-6 columns">
              <h4><%= @place.name %></h4>
              <%= render 'subnav', object: @place %>
            </div>



              <%= render 'breadcrumbs', object: @place %>

        </div>

        <div class="row content">
          <div class="small-6 columns">
            <ul class="small-block-grid-3">
                <% @place.photos.each do |photo| %>
                  <li>
                    <%= link_to (image_tag photo.photo_url(:thumb).to_s, 
                      height: '60', width: '100', class: "th radius"),
                     photo.photo_url.to_s, rel: "facebox" %>
                  </li>
                <% end %>
            </ul>
            <hr>
            <%= render 'show_contacts', object: @place %> 
          </div>


          <div class="small-6 columns">
            <%= simple_format(@place.message) %>
            <% if @place.training_time  %>
              <h4><small><%= t(:training_times) %></small></h4>
              <div style="padding-left: 20px"><%= simple_format(@place.training_time) %></div>
            <% end %>
          </div>
        </div>


          <hr>
          <div id="disqus_thread"></div>
      </div>

      <div class="small-4 columns">
        <%= render 'shared/user_box', object: @place %>


        <% if @place.user.places.count > 1 %>
            <ul class=" panel recent">
              <h6><%= t (:more_places_from_user)  %></h6>
              <% @place.user.places.each do |place| %>
                <li><%= link_to place.name, place %> 

                  <% place.types.each_with_index do |type, counter| %>&nbsp&raquo;&nbsp  
                  <%= link_to type.type_name,controller: :places, action: :index, type: type.type_slug %> 

                  <% if counter > 1 %>
                    &nbsp&raquo;&nbsp  
                  <% end %>
                <% end %></li>
              <% end %>
            </ul>
        <% end  %>
        <%= render 'shared/login' %>
      </div>


    </div>
  </div>
</div>


<script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>


<script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript><%= t(:enable_js) %></noscript>