<% provide(:title, @place.name) %>

<% meta :description => "#{truncate( @place.message, :length => 150, :separator => '. ', :omission => '.')}",
        :keywords => get_keywords(@place) %>

<div class="row show content_bottom_margin">
  <div class="large-12 small-12 columns">
  
    <%= render 'shared/flasher' %>




    <div class="row ">

    
      <div class="small-5 large-3 columns">
        <%= render 'shared/user_box', object: @place %>
        
      </div>

      
      <div class="small-7 large-6 columns white">

            <h2>                  
            <% if can? :edit, @place %>
              <%= link_to(edit_place_path(@place)) do %>
                <%= @place.name %> <i class="comments general foundicon-edit">  </i>
              <% end %>
            <% else %>
              <%= @place.name %>
            <% end %>
            <% if can? :make_approve, Place %>
              <%= link_to " ",{controller: 'places', action: 'make_approve', id: @place.id},{ class: "comments general foundicon-error" } %>
            <% end %>
          </h2>


          <div class="show_page_bread">
            <%= render 'breadcrumbs', object: @place %>
          </div>

        <% unless @place.slug.blank? %>
          <% short_link = "yoda.lv/" + @place.slug %>
          <p class="center"><%= t(:short_link_show) %><%= link_to short_link, "http://www." + short_link %></p>
        <% end %>
          <%= render 'show_contacts', object: @place %> 



          <%= simple_format(@place.message) %>
          <div class="row">
          <div class="large-12 columns">


          <%= render 'schedules' %>
          </br>
          </br>
          <%= render 'feed_list' %>
          
          </div>

        </div>

        <div class="row ">
          <div class="large-12 columns photos_block">
            <ul class="small-block-grid-4 clearing-thumbs" data-clearing>
                <% @place.photos.each do |photo| %>
                  <li>
                    <%= link_to (image_tag photo.photo.url(:thumb), 
                      height: '60', width: '100', class: "th"),
                     photo.photo.url %>
                  </li>
                <% end %>
            </ul>


          </div>

        </div>

        
        <%= render 'shared/gmap' %>
        
      </div>


      <div class="large-3 columns hide-for-small">

          <%= render 'shared/navigator' %>
          <%= render 'shared/login' %>
      </div>
    </div>
    <div class="row ">
      <div class="large-9 small-12 columns white">
        <div id="disqus_thread" ></div>
      </div>
    </div>
  </div>
</div>
