<% provide(:title, @place.name) %>

<% meta :description => "#{truncate( @place.message, :length => 150, :separator => '. ', :omission => '.')}",
        :keywords => get_keywords(@place)
%>


<%= render 'shared/gmap' %>
<%= render 'shared/filter' %>


<div class="row content show">
  <div class="large-12 small-12 columns">
    <%= render 'shared/flasher' %>




    <div class="row">


      <div class="small-5 large-3 columns">
        <%= render 'shared/user_box', object: @place %>
      </div>

      
      <div class="small-7 large-6 columns">

            <h6><%= @place.name %></h6>


          <div class="show_page_bread">
            <%= render 'breadcrumbs', object: @place %>
          </div>


          <%= render 'show_contacts', object: @place %> 
          <%= simple_format(@place.message) %>


        <hr>

          <ul class="small-block-grid-4">

              <% @photos.each do |photo| %>
                <li>
                  <%= link_to (image_tag photo.photo.url(:thumb), 
                    height: '60', width: '100', class: "th radius"),
                   photo.photo.url, rel: "facebox" %>
                </li>
              <% end %>
          </ul>


        <hr>
        <div id="disqus_thread"></div>
      </div>


      <div class="large-3 columns hide-for-small">
          <%= render 'shared/right_navigation' %>
          <%= render 'shared/login' %>

      </div>
    </div>
  </div>
</div>