<% provide(:title, @place.name) %>

<%= render 'shared/gmap' %>
<%= render 'shared/filter' %>


<div class="row content">
  <div class="large-12 small-12 columns">
    <%= render 'shared/flasher' %>




    <div class="row">


      <div class="small-5 large-3 columns">
        <%= render 'shared/user_box', object: @place %>
      </div>

      
      <div class="small-7 large-6 columns">
        <div class="row">
          <div class="small-12 large-6 columns">
            <h4><%= @place.name %></h4>
            <%# render 'subnav', object: @place %>
          </div>
          <div class="small-12 large-6 columns">
            <%= render 'breadcrumbs', object: @place %>
          </div>
        </div>


          <%= render 'show_contacts', object: @place %> 
          <%= simple_format(@place.message) %>


        <hr>

          <ul class="small-block-grid-4">
              <% @place.photos.each do |photo| %>
                <li>
                  <%= link_to (image_tag photo.photo_url(:thumb).to_s, 
                    height: '60', width: '100', class: "th radius"),
                   photo.photo_url.to_s, rel: "facebox" %>
                </li>
              <% end %>
          </ul>


        <hr>
        <div id="disqus_thread"></div>
      </div>


      <div class="large-3 columns hide-for-small border_left">
          <%= render 'shared/right_navigation' %>
          <%= render 'shared/login' %>

      </div>
    </div>
  </div>
</div>
