<% provide(:title, @place.name) %>

<%= render 'shared/gmap' %>

<div class="row">
  <div class="large-12 columns">
    <%= render 'shared/filter' %>
    <%= render 'shared/flasher' %>
    <div class="row content">
      <div class="large-8 columns">

        

            
          <div class="row">
            <div class="large-6 columns">
              <h4><%= @place.name %></h4>
              <%= render 'subnav', object: @place %>
            </div>

            <%= render 'breadcrumbs', object: @place %>
          </div>

          <table class="contacts">
            <tbody>
              <tr>
                <td class="td-title">
                    <i class="general foundicon-globe"></i>City, Country</td>
                <td>
                  <%= get_location(@place) %>
                </td>
              </tr>
              <tr>
                <td class="td-title">
                    <i class="general foundicon-location"></i>Street address</td>
                <td><%= @place.street.titleize %></td>
              </tr>
              <tr>
                <td class="td-title">
                    <i class="general foundicon-mail"></i>Email</td>
                <td><%= @place.email.titleize %></td>
              </tr>

              <% unless @place.phone.blank? %>
                <tr>
                  <td class="td-title">
                      <i class="general foundicon-phone"></i>Phone number</td>
                  <td><%= @place.phone %></td>
                </tr>
              <% end %>
              
              <% unless @place.website.blank? %>
                <tr>
                  <td class="td-title">
                      <i class="general foundicon-website"></i>Web address</td>
                  <td><%= @place.website %></td>
                </tr>
              <% end  %>

              <tr>
                <td class="td-title">
                  <i class="general foundicon-add-doc"></i>Published at
                </td>
                <td><%= @place.created_at.strftime("%d.%m.%Y") %></td>
              </tr>


              <% unless @place.created_at.to_i == @place.updated_at.to_i %>
                <tr>
                  <td class="td-title">
                    <i class="general foundicon-edit"></i>Updated at
                  </td>
                  <td><%= @place.updated_at.strftime("%d.%m.%Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>


          <p class="owners_text"><%= @place.message %></p>
          <hr>

          <div id="disqus_thread"></div>
      </div>

      <div class="large-4 columns">
        <ul class="small-block-grid-3 photo_block">
          <% for photo in @place.photos %>
              <li>
                <%= link_to (image_tag photo.photo_url(:thumb).to_s, class: "th radius"),
                    photo.photo_url.to_s, rel: "facebox" %>
              </li>
          <% end %>
        </ul>
        
        <%= render 'like_this' %>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>


<script type="text/javascript">
    var disqus_shortname = 'buildyourself';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>Please enable JavaScript to view comments.</noscript>